<%= render 'providers/header' %>

<div class="bootstrap">

<div class="mailbox_wrapper">

<div class="bootstrap">
<%= render partial: 'mailbox/provider_view', locals: { is_conversation: false, messages: @inbox } %>
  </div>
  </div></div></div>



