<div class="up-var">
  <div class="upper-menu">
    <div class="wrapper" >
      <ul>
        <li><a href='/providers/main'>マイページ</a></li>
        <li><a href='/providers/inbox'>メッセージ</a></li>
        <li><%= link_to '掲載中', notes_path %></li>
        <li><a href=''>取引履歴</a></li>
        <li><a href='providers/main'>マイページ</a></li>
        <li><a href='/mailbox/inbox'>メッセージ</a></li>
        <li><a href='notes'>掲載中</a></li>
        <li><a href='/dashboard/transaction'>取引履歴</a></li>
        <li><a href='#'>基本情報</a></li>
      </ul>
    </div>
  </div>
</div>


<div class="providers_signup">



<div class="bootstrap">
<div class="edit-button">
<a class="btn btn-default" href="/providers/edit" role="button"><i class="fa fa-pencil" aria-hidden="true"></i>プロフィールを編集</a>
</div>
</div>
<h2>店舗の基本情報</h2> 


 <div class="field">
    <h3>営業時間</h3>
    <%= current_provider.hours %>
  </div>
  
 <div class="field">
    <h3>店舗概要</h3>
   <%= current_provider.about %>
  </div>


   <div class="field">
    <h3>定休日</h3>
   <%= current_provider.holiday %>
  </div>

  <h2>店舗の基本情報</h2>


   <div class="field">
    <h3>住所</h3>
    <%= current_provider.address %>
  </div>

    <div class="field">
    <h3>お支払い方法</h3>
    <%= current_provider.payment %>
  </div>

  <div class="field">
    <h3>電話番号</h3>
   <%= current_provider.phonenumber %>
  </div>

  <div class="field">
    <h3>メールアドレス</h3>
   <%= current_provider.email %>
  </div>

</div>

