<%= render 'providers/header' %>



<div class="main-container">
<div class="providers_info_show">



<div class="bootstrap">
<div class="edit-button">
<a class="btn btn-default" href="/providers/edit" role="button"><i class="fa fa-pencil" aria-hidden="true"></i>プロフィールを編集</a>
</div>
</div>
<h2>店舗の基本情報</h2> 

  <div class="field">
    <h3>店舗名</h3>
    <%= current_provider.name %>
  </div>

    <div class="field">
    <h3>住所</h3>
    <%= current_provider.address %>
  </div>


  <div class="field">
    <h3>メールアドレス</h3>
   <%= current_provider.email %>
  </div>



   <% current_provider.store_infos.each do |s| %>
 <div class="field">
    <h3>営業時間</h3>
    <%= s.hours %>
  </div>

 <div class="field">
    <h3>店舗概要</h3>
   <%= s.about %>
  </div>


   <div class="field">
    <h3>定休日</h3>
   <%= s.holiday %>
  </div>



 
    <div class="field">
    <h3>お支払い方法</h3>
    <%= s.payment %>
  </div>



</div>
  <%end%>
</div>
