<%= render 'providers/header' %>



<div class="main-container">
<div class="providers_info_show">



<div class="bootstrap">
<div class="edit-button">
<a class="btn btn-default" href="/providers/edit" role="button"><i class="fa fa-pencil" aria-hidden="true"></i>プロフィールを編集</a>
</div>
</div>
<h2>店舗の基本情報</h2> 

   <% current_provider.store_infos.each do |s| %>

      <% current_provider.provider_accounts.each do |a| %>

 <table class="sample_03">
     <tbody>
      <tr>
       <th>店舗名</th>
       <td>  <%= current_provider.name %></td>
     </tr>
        <tr>
       <th>代表者名</th>
       <td>  <%= a.staffname%></td>
     </tr>
 
   
        <tr>
       <th>営業時間</th>
       <td><%= s.hours %></td>
     </tr>
     
    <tr>
       <th>定休日</th>
       <td> <%= s.holiday %></td>
     </tr>
     <tr>
       <th>お支払い方法</th>
       <td>  <%= s.payment %></td>
     </tr>
    <tr>
       <th>店舗紹介</th>
       <td>  <%= s.about %></td>
     </tr>
            <tr>
       <th>住所</th>
       <td>  〒<%= s.postalcode%>  <%= s.prefecture %>   <%= s.city%>   <%= s.address%>  <%= s.building%></td>
     </tr>
          <tr>
       <th>メールアドレス</th>
       <td>  <%= current_provider.email %></td>
     </tr>
     <tr>
       <th>電話番号</th>
       <td>  <%= a.phonenumber%></td>
     </tr>
   

 </tbody>
 </table>




</div>
  <%end%>
  <%end%>
</div>
