
<div class="up-var">
 <div class="upper-menu">
    <div class="wrapper" >
    <ul>
     <li>マイページ</li>
      <li>掲載中</li>
      <li>取引方法</li>
      <li><a href="/users/edit">アカウント</a></li>
      <li>メッセージ</li>
    </ul>
    </div>
  </div>
  </div>



<div class="setting-heading">
<p>マイページ</p>

 <ul>
   <li> <a href="#"><i class="fa fa-plus-square-o"></i> セキュリティ認証</a></li>
   <li> <a href="#"><i class="fa fa-plus-square-o"></i> セキュリティ認証</a></li>

  </ul>
  </div>


<div class="listing-wrapper">

<div class="provider-listings">

 <div class="provider-listings-heading">
<h2>アカウント編集</h2>
  </div>

<form method="post" action="example.cgi">

<p class="name">*姓<br>
<input type="text" name="example1"></p>
<p>*名<br>
<input type="text" name="example1"></p>

  <p class="sexes">*性別</p>

<select name="select">
<option value="サンプル1">性別</option>
<option value="サンプル2">男</option>
<option value="サンプル3">女</option>
<option value="サンプル4">その他</option>
</select>


<p>*メールアドレス<br>
<input type="text" name="example2" size="50"></p>

<p>*所在地<br>
<input type="text" name="example3" size="50" maxlength="10"></p>

  <p>*自己紹介</p>
<textarea name="example" cols="80" rows="10"></textarea>
<div class="about-me">
  <p>Seekleの基本は人間関係です。自分を知ってもらう努力をしましょう。
好きなものを教えてください。これなしでは生きていけないものを5つ挙げるとしたら何ですか？　お気に入りの旅先、本、映画、番組、音楽、食べ物は？　

自分の人柄も知ってもらいましょう。人生のモットーは何ですか？</p>
  </div>

</form>

  </div>
  </div>


