
<div class="up-var">
 <div class="upper-menu">
    <div class="wrapper" >
    <ul>
      <li>マイページ</li>
      <li>掲載中</li>
      <li>取引方法</li>
      <li>アカウント</li>
      <li>受信トレイ</li>
    </ul>
    </div>
  </div>
  </div>

<div class="dashboard-wrapper">
<div class="left-wrapper">

<div class="profile-picture">

 </div>

 <div class="security-wrapper">

<div class="security-heading">
<p>セキュリティ</p>
  </div>
  <ul>
   <li>確認</li>
   <li></li>
   <li></li>
 </ul>
 </div>
  </div>




<div class="right-wrapper">



<div class="notification-wrapper">
 <div class="notification-heading">
   <p>通知</p>
 </div>
 <div class="notification-contents ">
 　<ul>
   <li>アドレスの登録をしてください</li>
   <li>アドレスの登録をしてください</li>
   <li>アドレスの登録をしてください</li>
 </ul>
 </div>
  </div>

  <div class="schedule-wrapper">
   <div class="notification-heading">
   <p>スケジュール</p>
 </div>
  <div id="cal1" style="width:50px"></div>
<div id="cal2" style="padding:0px"></div>
  </div>

  </div>
  </div>


<script type="text/javascript"><!--
var yy, mm;
// 今月
today = new Date();
// 特定の年月の表示をする場合
//  today.setMonth(8);  // 月-1
//  today.setFullYear(2018);
yy = today.getFullYear();
mm = today.getMonth() + 1;
document.getElementById('cal1').innerHTML = put_calender(yy, mm, 'cal', 'hcal', '', '');
// 翌月
if (mm > 11) {
  mm = 0;
  yy += 1;
  today.setFullYear(yy);
}
today.setMonth(mm);
yy = today.getFullYear();
mm = today.getMonth() + 1;
document.getElementById('cal2').innerHTML = put_calender(yy, mm, 'cal', 'hcal', '', '');
//--></script>







