
<div class="nav-var">
 <div class="full-block jobstyle-row">
    <div class="wrapper" >
    <ul>
      <li>ダッシュボード</li>
      <li>掲載中</li>
      <li>マイページ</li>
      <li>アカウント</li>
      <li>受信トレイ</li>
    </ul>
    </div>
  </div>
  </div>
