
<div class="up-var">
 <div class="upper-menu">
    <div class="wrapper" >
    <ul>
    <li>マイページ</li>
      <li>掲載中</li>
      <li>取引方法</li>
      <li>アカウント</li>
      <li>受信トレイ</li>
    </ul>
    </div>
  </div>
  </div>


 <div class="messages-wrapper">
  <div class="messages-list">
   <h2>受信トレイ</h2>
  </div>

    <div class="messages-contents">

     <p>まだメッセージがありません。</p>

    </div>

  </div>
