
<div class="up-var">
 <div class="upper-menu">
    <div class="wrapper" >
    <ul>
     <li><a href='/users/index'>マイページ</a></li>
     <li><%= link_to '掲載中', notes_path %></li>
     <li><a href='/dashboard/transaction'>取引方法</a></li>
     <li><a href='/users/edit'>設定</a></li>
     <li><a href='/conversations/new'>受信トレイ</a></li>
    </ul>
    </div>
  </div>
  </div>

<div class="setting-heading">
<p>一般設定</p>

 <ul>
   <li> <a href="/settings/new"><i class="fa fa-plus-square-o"></i> 取引履歴</a></li>
   <li> <a href="#"><i class="fa fa-plus-square-o"></i>  受け取り設定</a></li>
   <li><a href="/service_setting/pictures"><i class="fa fa-plus-square-o"></i>  支払い方法</a></li>
   <li><i class="fa fa-plus-square-o"></i>  支払い/受け取り</li>


  </ul>
  </div>


<div class="listing-wrapper">

<div class="history-wrapper">

 <div class="provider-listings-heading">
  <h2>サービスの取引履歴</h2>
 </div>

  <ul>
  <table>
  <tbody>
    <tr>
      <th>日付</th>
      <th>サービス</th>
      <th>売り上げ金額</th>
      <th>ユーザー名</th>
      <th>送金状態</th>
      <th> </th>
    </tr>
    <tr>
      <td>1/1</td>
      <td>英会話教室</td>
      <td>¥5.000</td>
      <td>memi_0918</td>
       <td>送金待ち</td>
      <td>レビューを見る</td>
    </tr>
    <tr>
      <td>1/1</td>
      <td>英会話教室</td>
      <td>¥5.000</td>
     <td>memi_0918</td>
     <td>受け取り済み</td>
      <td>レビューを見る</td>
    </tr>
    <tr>
      <td>1/1</td>
      <td>英会話教室</td>
      <td>¥5.000</td>
      <td>memi_0918</td>
      <td>受け取り済み</td>
<td>レビューを見る</td>

    </tr>
       <tr>
      <td>1/1</td>
      <td>英会話教室</td>
      <td>¥5.000</td>
      <td>memi_0918</td>
      <td>受け取り済み</td>
<td>レビューを見る</td>

    </tr>
       <tr>
      <td>1/1</td>
      <td>英会話教室</td>
      <td>¥5.000</td>
      <td>memi_0918</td>
      <td>受け取り済み</td>
<td>レビューを見る</td>
    </tr>
  </tbody>
</table>
 </ul>

  <div class="total-heading">
  <h2>今月の合計収入：</h2>
 </div>
  </div>


  </div>
