

<div class="up-var">
  <div class="upper-menu">
    <div class="wrapper" >
      <ul>
        <li><a href='/providers/main'>マイページ</a></li>
        <li><a href='/mailbox/inbox'>メッセージ</a></li>
        <li><%= link_to '掲載中', notes_path %></li>
        <li><a href='#'>取引履歴</a></li>
        <li><a href='/providers'>基本情報</a></li>
      </ul>
    </div>
  </div>
</div>


