

// Media queries breakpoints
$screen-mobile-xs: 375px !default;
$screen-mobile-md: 400px !default;
$screen-mobile: 480px !default;
$screen-phablet: 620px !default;
$screen-tablet: 768px !default;
$screen-desktop: 1024px !default;
$screen-mobile-max: ($screen-mobile - 1) !default;
$screen-tablet-max: ($screen-tablet - 1) !default;
$screen-desktop-max: ($screen-desktop - 1) !default;
$app-container-width: $screen-desktop !default;


.top-wrapper{position:relative}


.top-wrapper{
	margin-top:-90px;

	color:#fff;
  background-image: url("/images/manclean.jpg");
  background-size:cover;
  text-align:center;
  padding:50px 0 100px
}


.top-wrapper h1{

	font-size:45px;
	letter-spacing:5px;
	padding-top:150px;
	 
    margin-left:1%;
}


.top-wrapper p{
 
	margin-bottom:35px
}




.about-seekle-wrapper{
  margin-top: 4%;
  height:270px;
  color:gray;
width:73%;
    margin-left: 13.9%;

text-align:center;
font-size:14px
}

.about-seekle-wrapper p{
  font-size:14px;
  line-height:25px;
  text-align: left;
}
.reasons{
  float:left;
  width:28.9%;

}

.reasons2{
  float:left;
  width:28.9%;
  margin-left: 60px;
}

.Seekle-heading{
  margin-top:60px;
  margin-right:0px;
  color:#5f5d60;
  margin-bottom: 40px;
}
.Seekle-heading h2{
  margin-top:12px
}
.Seekle-heading p{
  font-size:15px
}

.explain-seekle-wrapper{
   height:1000px;
  text-align:center;
  background-color:#fff;
  border-top:2px solid #f5f5f5;
border-bottom: 2px solid #f5f5f5;

}
.explain-seekle-wrapper p{
  font-size:15px;
  line-height:25px

}

.explain-seekle-wrapper-content{
width:73%;
    margin-left: 14%;

}

.seekle_favs_left{
margin-top: 50px;
}

.seekle_favs_left p{
clear:both;
float:center;
}



.popular_service1{

width:23.7%;
height:130px;

margin-bottom: 12px;
float:left;
}
.popular_service2{
width:23.7%;
height:130px;
margin-bottom: 12px;
float:left;
margin-left: 13px;
}


.message-wrapper{
  height:290px;
  text-align:center;
  background-color:   #F8F8FF;
  border-bottom:1px solid #eee;
  border-top:1px solid #eee;
}
.message-wrapper .heading h3{font-weight:400}






.top-wrapper{
  margin-top:-90px;

  color:#fff;
  background-image: url("/images/manclean.jpg");
  background-size:cover;
  text-align:center;
  padding:50px 0 100px
}





@media only screen and  ( max-width:$screen-mobile-max ){

  .top-wrapper{
    padding: 50px 0 60px 0px;
  }

  .top-wrapper h1 {
   width:80%;
   margin-left: 9%;
   text-shadow: 2px 2px 1px black;
   font-size: 30px;
   line-height: 50px;
   padding-left: 0%;
   	padding-top:16%;
  }



  .top-wrapper p{
   width:70%;
   margin-left: 14%;
   line-height: 10px;
   }




   .Seekle-heading{
  margin-top:50px;
  margin-bottom: 0px;

}

.seekle_favs_left{
margin-top: 30px;
}

.popular_service1{
  height:130px;
  width:50%;
  margin-bottom: 10px;
}
.popular_service2{
    height:130px;
  margin-left: 0px;
  width:50%;
    margin-bottom: 10px;
}
.explain-seekle-wrapper{
   height:1500px;
  text-align:center;
  background-color:#fff;
  border-top:2px solid #f5f5f5;
border-bottom: 2px solid #f5f5f5;

}
.explain-seekle-wrapper p{
  font-size:15px;
  line-height:25px

}

.explain-seekle-wrapper-content{
width:73%;
    margin-left: 14%;

}

.about-seekle-wrapper{
  margin-top: 4%;
  height:850px;
  color:gray;
width:73%;
    margin-left: 13.9%;

text-align:center;
font-size:14px
}

.about-seekle-wrapper p{
  font-size:14px;
  line-height:25px;
  text-align: left;
}

.reasons{
    margin-top: 50px;
  float:left;
  width:100%;

}

.reasons2{
  float:left;
  width:100%;
  margin-top: 40px;
  margin-left: 0px;
}


.message-wrapper{
  height:300px;
  width:100%;
}

.heading{
  width:73%;
      margin-left: 13.9%;
}



}
  

@media (min-width: $screen-tablet) {
  .explain-seekle-wrapper{
    height:980px;
  }
.explain-seekle-wrapper-content{
    width:100%;
    margin-left: 2%;

 }
  .popular_service1{
  height:130px;
  width:23%;
  margin-bottom: 10px;
}
.popular_service2{
    height:130px;
  margin-left: 9px;
  width:23%;
    margin-bottom: 10px;
}


.about-seekle-wrapper{

  height:300px;

width:100%;
    margin-left: 2%;

text-align:center;

}

.reasons{
  float:left;
  width:29%;

}
.reasons p{
  font-size: 12px;
}
.reasons h2{
  font-size: 18px;
}

.reasons2{
  float:left;
  width:30%;
  margin-left: 30px;
}
.reasons p{
  font-size: 12px;
}
.reasons h2{
  font-size: 18px;
}

}



@media (min-width: $screen-desktop) {



.about-seekle-wrapper{
height:270px;
width:73%;
margin-left: 13.9%;
}

.about-seekle-wrapper p{
  font-size:14px;
  line-height:25px;
  text-align: left;
}
.reasons{

  width:28.9%;

}

.reasons p{
  font-size: 14px;
}

.reasons2{

  width:28.9%;
  margin-left: 60px;
}


.explain-seekle-wrapper{
   height:1000px;
}



.explain-seekle-wrapper-content{
width:73%;
    margin-left: 14%;

}



.popular_service1{

width:23.7%;
height:130px;

margin-bottom: 12px;
float:left;
}
.popular_service2{
width:23.7%;
height:130px;
margin-bottom: 12px;
float:left;
margin-left: 13px;
}




}
