/*ホームページ*/
.btn,.txt-contents{display:inline-block}
.btn,.message{cursor:pointer}.btn,.btn:hover{text-decoration:none}
.first-icon.btn{background-color:#6495ED}.btn:hover{opacity:1}


.icons{color:#F47503}


.message{background-color:#6495ED;box-shadow:#4682B4 0 3px;padding:15px 40px}
.fa-fw{font-size:18px;padding-right:10px}

/*利用規約、ポリシー、特定商取引 のcss*/
.policy-wrapper{margin-top:50px;margin-left:300px;border-radius:5px;background-color:#FFF}
.policy-menu-heading,.signage-menu-heading{width:270px;float:left;background-color:#F5F5F5}
.policy-menu-heading{height:2400px}
.policy-menu-heading ul{margin-top:60px}
.policy-menu-heading ul li{margin-top:20px}
.signage-menu-heading{height:1000px}
.signage-menu-heading ul{margin-top:60px}
.signage-menu-heading ul li{margin-top:20px}
.policy-contents{margin-top:80px;margin-left:30px;margin-right:50px;font-size:13px}
.policy-contents ul li{list-style:none}
.signage ul li{font-size:15px;margin-top:15px}

/* 404, 505のエラーページ */
.error-wrapper{height:300px;} 
.error-wrapper h1{font-weight: normal; margin-top:80px; }



#error_explanation{
	background-color:	#CD5C5C;
	color:white;
	padding: 20px;
	border:1px solid gray;
	border-radius: 12px;
 box-shadow: 3px 3px 	#696969;

}

#error_explanation h2{
	font-size: 20px;
}

#error_explanation ul li{
	list-style: square;
}



