.policy-wrapper{

   margin-top: 50px;
   margin-left: 300px;
   border-radius:5px;

   background-color:#FFF;
}

.policy-menu-heading{

    width:270px;
float:left;
height:2400px;
background-color:   #F5F5F5;
}

.policy-menu-heading ul{
margin-top: 60px;
}

.policy-menu-heading ul li{
  margin-top: 20px;
}


.signage-menu-heading{
width:270px;
float:left;
height:1000px;
background-color:   #F5F5F5;
}


.signage-menu-heading ul{
margin-top: 60px;
}

.signage-menu-heading ul li{
  margin-top: 20px;
}


.policy-contents{
 margin-top:80px;
 margin-left: 30px;
 margin-right: 50px;
font-size:13px;
}

.policy-contents ul li{
  list-style: none;
}

.signage ul li{
  font-size: 15px;
  margin-top:15px;
}



@media screen and  ( max-width:640px )
{
  /* ボディ */
  .term-wrapper{
   width:0 auto;


  }
