
@media screen and ( max-width:640px )
{

  .pro-top-wrapper h1 {
   text-shadow: 2px 2px 1px black;

  }

.pro-top-wrapper {
  height:230px;
}

}





.pro-top-wrapper {
  margin-top: -90px;
    background-size: cover;
    color: white;
    background-image: url("https://pixabay.com/static/uploads/photo/2015/06/08/15/06/woman-801872_960_720.jpg");
    text-align: center;
    padding: 90px 0 90px 0px;

}

.pro-container{
    height:300px;
}

.pro-top-wrapper h1 {
  padding-top:70px;
    opacity: 0.9;
    font-size: 42px;
    letter-spacing: 2px;
}

.pro-top-wrapper p {
    opacity: 0.7;
    font-size:16px;
    margin-bottom: 35px;
}



.btn {
    color: white;
    display: inline-block;
    opacity: 0.8;
    cursor: pointer;
    padding: 10px 24px;
    border-radius: 3px;
}
.btn.signup{
font-size: 17px;

}


.btn:hover{
  opacity: 1;
  text-decoration: none;
  color:#DCDCDC;
}



.title-field {
  width: 480px;
}

.content-field {
  height: 90px;
  width: 956px;
}

.signup {
    background-color: rgb(35, 155, 118);
}



.pro-explain-wrapper{
  height:340px;
      margin-bottom: -100px;
    background-color: #fff;
    text-align: center;
    border-bottom: 1px solid rgb(238, 238, 238);
 padding: 10px 0 120px 0px;
}


@media screen and ( max-width:640px )
{

  .pro-explain-wrapper{
    height:800px;
  }
.All-first{

  width:180%;
}
.first{
  clear:both;
}
}




.first-wrapper {
    height: 420px;
    padding-bottom: 80px;
    background-color: #fff;
    text-align: center;
    font-size:14px;
}
.first-wrapper p{
    font-size:15px;
    line-height:25px;
}

.heading {
    padding-top: 40px;
    padding-bottom: 0px;
    color: rgb(95, 93, 96);
}

.first {
    float: left;
    width: 33%;
}
.first-icon {
    position: relative;
}


.first p{
  font-size: 14px;
  line-height: 20px;
}











