.term-wrapper{
    border: 1px solid #C0C0C0;
    margin:80px;
    border-radius:5px;
   box-shadow:1px 1px 3px #c0c0c0;
  background-color:#F5F5F5;
}


.contents{
  padding:30px;
font-size:13px;
}

.contents ul li{
  list-style: none;
}


@media screen and  ( max-width:640px )
{
  /* ボディ */
  .term-wrapper{
   width:0 auto;


  }