<li>

  <span class="user-name">
    <%= note.user.image %>
  </span>

  <span class="user-name">
    <%= note.user.user_name %> さん
  </span>
  <span class="content">
    <%= link_to note.title, note_path(note.id) %>

  <div>
      <small>
        <%= note.likes.count %>人がいいね！といっています
      </small>
    </div>

    </div>

  </span>

  </li>
