
<div class="wrapper">
    <h1 class="title-wrapper choose-account">
        さっそく無料でかんたん新規登録！
    </h1>
</div>

<div class="wrapper choose-account-wrapper">
    <div class="dynamic-row">

                <div class="box service-pro-account">
            <h2>
                ビジネスを始めたい
            </h2>
            <p class="account-description">
                プロバイダーとしてあなたのビジネスを提供しよう。
            </p>
           
 <%= link_to "sign up", new_user_path, class: "btn btn-lg btn-primary" %>


        </div>

                <h3 class="or choose-account">
            or
        </h3>

                <div class="box standard-account">
            <h2>
                プロバイダーにお願いしたい
            </h2>
            <p class="account-description">
                様々なジャンルからぴったりを見つけよう。
            </p>
            

 <%= link_to "sign up", new_user_path, class: "btn btn-lg btn-primary" %>





            
        </div>

    </div>
</div>

<div class="login-wrapper">
    <div class="bottom-link-wrapper">
        すでにアカウントをお持ちですか？      ログイン
      
    </div>
</div>