<div class="up-var">
  <div class="upper-menu">

  </div>
</div>
<%= render 'home/header/dashboardhead' %>


<div class="main-container">
<div class="provider_wrapper">
  <div class="provider-introduction_profile">

 <%= link_to "戻る", :back , class: "return"%>

     <h1><%= @note.provider.name %></h1>

    <% if @note.provider.mainpic? %>
    <%= image_tag @note.provider.mainpic.url,class: "provider_main_pic"%>
    <% else %>
    <%= image_tag 'Seekle_icon.png', :class => 'provider_main_pic'%>
    <% end %>

 <% @note.provider.store_infos.each do |s| %>
    <table class="sample_03">
     <tbody>
     
   <tr>
     <th>営業時間：</th>
      <td><%= s.hours %></td>
    </tr>

     <tr>
     <th>定休日：</th>
      <td> <%=s.holiday %></td>
    </tr>

    <tr>
    <th>所在地：</th>
      <td><%= s.prefecture %></td>
    </tr>
    
    <tr>
    <th>お支払い：</th> 
      <td><%=s.payment %></td>
    </tr>

   </tbody>
 </table>


<div class="store_explain">
  <h2>店舗紹介：</h2> 
<%= simple_format(s.about) %> 
 
    <% if s.about.blank? %>
<p>プロフィールがまだ記入されていません。</p>
    <%end%>
</div>
    <%end%>

<div class="store_explain">
  <h2>掲載中のサービス：</h2>

  
  <ul>
    <% @note.note_revisions.each do |note_revision| %>

    <li> 

      <%= link_to note_revision.title, note_path(@note) %>
   </li>
   <% end %>
</ul>
</div>
</div>
</div>
</div>
