<%= render 'category/header' %>

<div class="home-all-wrapper">

	<div class="home-little clearfix">

		<div class="services-detail-wrapper">
			<h2>その他</h2>
			<div class="dynamic-row">
				<ul class="details">
					<li>その他カテゴリーは準備中です</li>

				</ul>




			</div>
