.reservations_list{
width:100%;
	 margin-left:0%;
	 height:0 auto;
	 margin-top: 4%; 
	 margin-bottom: 6%;
	}

.reservations_list h1{
	font-size:25px;
	 font-weight: normal;
	 margin-bottom: 50px;
	}


.reservations_list .bootstrap .table tr{
margin-bottom: 80px;
}





/* ipad iphone4と5のレスポンシブデザイン */
@media screen and (min-width: 320px) and (max-width: 374px)
{


}




/* ipad iphone6のレスポンシブデザイン */

@media (min-width: 375px) 
{


}



/* ipad iphone6+PLUSから大きめのスマホのレスポンシブデザイン */
@media screen and (max-width: 414px) {

.reservations_list{
	width:94%;
	 margin-left:0%;
	 margin-left: 3%;
	 margin-top: 6%; 
	 margin-bottom: 6%;
	}

.reservations_list h1{
	font-size:14px;
	 font-weight: normal;

	margin-right: 7%;
	}

.reservations_list .bootstrap .table td{
	
     display: block;
padding-top: 0px;
padding-bottom: none;

 border:none;

}

.reservations_list .bootstrap .table tr{
       
    text-align: left;
  	border-bottom: 1px solid gray;
  
}

.reservations_list .bootstrap .table th {
    display: block;
    border-top: none;
    border-bottom: none;

  }

.menu-back-head{
	margin-top: 3%;
 margin-left: 7%;
	font-size: 10px;
}



}





/* ipad タブレットのレスポンシブデザイン */
@media (min-width: 767px) {



}

