<h1><%= @message %></h1>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

 <div class="pro-top-wrapper">
    <div class="pro-container">
      <div class="pro-background-image">
<a img="https://pixabay.com/static/uploads/photo/2015/06/08/15/06/woman-801872_960_720.jpg">
       </a>
     </div>
      <h1>得意なことはありますか？</h1>
      <p>働く時間を自分で決める。ご都合に合わせて、お好きなときだけ仕事ができます</p>


      <div class="btn signup ">プロバイダー登録</div>
    </div>














  <div class="pro-message-wrapper">
    <div class="container">
      <div class="heading">
        <h2>あなたも趣味、特技を仕事にしませんか？</h2>
        <h3 id="tagline">Let's find customers who need you!</h3>
      </div>
      <span class="btn message signup-show">プロバイダーとして参加</span>
    </div>
  </div>








