
<div class="up-var">
 <div class="upper-menu">
    <div class="wrapper" >
    <ul>

    </ul>
    </div>
  </div>
  </div>

<div class="setting-heading">
<p>掲載設定</p>

 <ul>
   <li> <a href="#"><i class="fa fa-plus-square-o"></i>  サービスについて</a></li>
   <li> <a href="/service_setting/description"><i class="fa fa-plus-square-o"></i>  顧客へのお願い</a></li>
   <li><a href="/service_setting/pictures"><i class="fa fa-plus-square-o"></i>  写真</a></li>
   <li><i class="fa fa-plus-square-o"></i>  料金</li>


  </ul>
  </div>


<div class="setting-wrapper">
<div class="customize-setting">
<h2>あなたのサービスを紹介しよう</h2>
  <p>あなたのサービスを求めるカスタマーの決め手になるようなタイトルや内容を考えよう</p>
  </div>

<div class="contents-setting">
  <form>
    <p>サービスタイトル</p>
    <input type="text" class="service-title" />
    <p>サービスのカテゴリー</p>
    <input type="text" class="service-title" />
    <p>サービスについて</p>
       <textarea name="msg" cols="86" rows="10"></textarea>
</form>

  </div>
  </div>
