<div class="up-var">
 <div class="upper-menu">
    <div class="wrapper" >
    <ul>

    </ul>
    </div>
  </div>
  </div>

<div class="setting-heading">
<p>掲載設定</p>

 <ul>

    <li> <a href="/service_setting/basic"><i class="fa fa-plus-square-o"></i>  サービスについて</a></li>
   <li> <a href="/service_setting/description"><i class="fa fa-plus-square-o"></i>  顧客へのお願い</a></li>
   <li><a href="#"><i class="fa fa-plus-square-o"></i>  写真</a></li>
   <li><i class="fa fa-plus-square-o"></i>  料金</li>

  </ul>
  </div>



<div class="setting-wrapper">
<div class="customize-setting">
<h2>あなたのサービスの参考となる写真を選びましょう</h2>
  <p>カスタマーにどんなサービスなのか、あなたはどんな人なのかなど、<br>参考となる写真を3枚までアップロードできます。</p>
  </div>

<div class="contents-setting">
  <form>

    <h3>写真のアップロード</h3>
    <textarea name="msg" cols="86" rows="10"></textarea>
</form>

  </div>
  </div>
