
<div class="up-var">
 <div class="upper-menu">
    <div class="wrapper" >
    <ul>

    </ul>
    </div>
  </div>
  </div>

<div class="setting-heading">
<p>掲載設定</p>

 <ul>
   <li> <a href="#"><i class="fa fa-plus-square-o"></i>  サービスについて</a></li>
   <li> <a href="/service_setting/description"><i class="fa fa-plus-square-o"></i>  顧客へのお願い</a></li>
   <li><a href="/service_setting/pictures"><i class="fa fa-plus-square-o"></i>  写真</a></li>
   <li><a href="/service_setting/price"><i class="fa fa-plus-square-o"></i>  料金</a></li>


  </ul>
  </div>


<div class="setting-wrapper">
<div class="customize-setting">
<h2>あなたのサービスの価格を決めよう</h2>
  <p>はじめはなるべく安い値段で提供してみましょう</p>
  </div>

<div class="contents-setting">
  <form>
    <p>サービス価格</p>
    <input type="text" class="service-title" />


</form>

  </div>
  </div>
