
.profile-wrapper{
margin-top:0px;
margin-left:47px;
height:1000px;
  background-color: #fff;
}






.profile-menu-heading h3{

margin:50px ;
}

.profile-menu-heading{
  width:270px;
float:left;
height:1100px;
background-color:   #F5F5F5;
}












.profile-wrapper h2{
color:#696969;
  margin-left: 364px;
}



.profile-form{
  background-color: white;
  float:center;
  margin-top:40px;
  margin-left: 400px;
  margin-bottom: 300px;
 border:2px solid  #C0C0C0;
 border-radius: 2px;
  width:670px;
}

.form-contents{
background-color: white;
  margin:80px;
}
.form-contents p{
  line-height: 20px;
}

.select {
  float:left;
}

.name {
  float:left;
 margin-right:10px;
 margin-top: 1px;
}

.sexes{
  padding-top:1px;
}


.about-me p{
  font-size: 14px;
  line-height: 22px;
  color:gray;
}
