.listing-wrapper{
  height:0 auto;
    background-color: #FFFFFF;
margin-top: -17px;
}




.menu-heading h3{

margin:50px ;
}

.menu-heading{
  width:270px;
float:left;
height:840px;
background-color:   #F5F5F5;
}

.btn-new-listing{
       border-color:    #D2691E;
    border-bottom-color:    #D2691E;
    background-color:   #D2691E;
    color: #fff;
        border-radius: 2px;
    border: 1px solid;
    text-align: center;
    vertical-align: middle;
    display:inline-block;
    font-weight: bold;
    line-height: 1.43;
    -webkit-user-select: none;
        padding: 10px 20px;
    font-size: 14px;

}




.provider-listings-heading h2{
      float:center;
  margin-left:330px;
    padding-top: 60px;
}



.provider-listings ul li{
      background-color: #fff;
margin-top: 50px;
  float:center;
  margin-left:350px;
  height:150px;
  width:700px;

  border-radius: 5px;
}



.panel-body-list {
  height:130px;
}




.service_image{

height: 100px;
width:170px;
margin-top: 16px;
margin-left: 20px;
}

 .panel-heading{
  height:40px;
 }





