.mypage-all_wrapper{
  padding-top: 60px;
  float: left;
  width:100%;
}

.mypage-all_wrapper h3{
  margin-top: 50px;
}

.mypage-picture{
      height:220px;
  width:220px;
background-color: gray;
   float: left;
margin-left: 46px;
    border-radius:100%;
    font-weight: bold;
}




.security-wrapper {

     color:  #696969;

      width:320px;
      list-style: none;

height:320px;
}


.left-wrapper{
padding-right: 20px;
}


.mypage_wrapper{
  height:700px;
margin-top:30px;
 float: left;
 width:49%;
}
.mypage_wrapper h1{

  font-weight: normal;
}
.mypage_wrapper p{
  line-height: 26px;

}

.introduce-wrapper{
  height:200px;
  width:670px;
 border: 2px solid  #C0C0C0;
}




.rates p{
  float:left;
  padding-left: 30px;
}

.user-small-picture{
      height:50px;
  width:50px;

   background-color:gray;
   float: left;
  margin-left: 11px;
    border-radius:100%;

}
