<%= render 'users/header' %>
<%= render 'home/header/dashboardhead' %>


<div class="main-container">
<div class="mailbox_wrapper">

<%= render partial: 'mailbox/folder_view', locals: { is_conversation: true } %>


  </div>
  </div>
  </div>
</div>
