<div class="up-var">
  <div class="upper-menu">
    <div class="wrapper" >
        <div class="main-container">
      <ul>
        <li><a href='/users'>マイページ</a></li>
         <li><a href='/mailbox/inbox'>メッセージ<div class="bootstrap">
 <span class="label label-danger pull-right"><%=unread_messages_count%></span></div></a></li>
          <li><a href='/reservations/list'>取引履歴</a></li>
        <li><a href='/users/edit'>基本設定</a></li>
      </ul>
      </div>
    </div>
  </div>
</div>

