.panel-body-housing-10{
  height:120px;
  background-size: cover;
  background-image: url(https://pixabay.com/static/uploads/photo/2016/01/13/12/29/makeup-1137706_960_720.jpg)
}

.panel-body-housing-11{
  height:120px;
  background-size: cover;
  background-image: url(https://pixabay.com/static/uploads/photo/2014/09/20/12/37/floral-arrangement-453709_960_720.jpg)
}

.panel-body-housing-12{
  height:120px;
  background-size: cover;
  background-image: url(https://pixabay.com/static/uploads/photo/2015/10/19/07/50/cocktail-995574_960_720.jpg)
}
.panel-body-housing-13{
  height:120px;
  background-size: cover;
  background-image: url(https://pixabay.com/static/uploads/photo/2015/10/19/03/29/bouquet-995438_960_720.jpg)
}
.panel-body-housing-14{
  height:120px;
  background-size: cover;
  background-image: url(https://pixabay.com/static/uploads/photo/2015/04/22/15/00/tall-hat-734903_960_720.jpg)
}
.panel-body-housing-15{
  height:120px;
  background-size: cover;
  background-image: url(https://pixabay.com/static/uploads/photo/2015/12/08/00/33/camera-1081821_960_720.jpg)
}
.panel-body-housing-16{
  height:120px;
  background-size: cover;
  background-image: url(https://pixabay.com/static/uploads/photo/2016/03/31/15/39/child-1293447_960_720.jpg)
}
.panel-body-housing-17{
  height:120px;
  background-size: cover;
  background-image: url(https://pixabay.com/static/uploads/photo/2015/04/09/11/43/bride-714381_960_720.jpg)
}
.panel-body-housing-18{
  height:120px;
  background-size: cover;
  background-image: url(https://pixabay.com/static/uploads/photo/2015/05/16/23/11/shoes-770420_960_720.jpg)
}
.panel-body-housing-19{
  height:120px;
  background-size: cover;
  background-image: url(https://pixabay.com/static/uploads/photo/2015/09/09/20/17/microphone-933057_960_720.jpg)
}
.panel-body-housing-20{
  height:120px;
  background-size: cover;
  background-image: url(https://pixabay.com/static/uploads/photo/2014/05/03/00/45/record-336626_960_720.jpg)
}
.panel-body-housing-21{
  height:120px;
  background-size: cover;
  background-image: url(https://pixabay.com/static/uploads/photo/2015/05/31/11/47/makeup-791303_960_720.jpg)
}












.panel-body-housing-30{
  height:120px;
  background-size: cover;
  background-image: url(https://pixabay.com/static/uploads/photo/2016/04/13/22/10/alternative-medicine-1327808_960_720.jpg)
}

.panel-body-housing-31{
  height:120px;
  background-size: cover;
  background-image: url(https://pixabay.com/static/uploads/photo/2015/03/23/17/43/relaxation-686392_960_720.jpg)
}

.panel-body-housing-32{
  height:120px;
  background-size: cover;
  background-image: url(https://pixabay.com/static/uploads/photo/2015/03/02/02/30/cycling-655565_960_720.jpg)
}

.panel-body-housing-33{
  height:120px;
  background-size: cover;
  background-image: url(https://pixabay.com/static/uploads/photo/2016/04/07/01/03/yoga-1313117_960_720.jpg)
}

.panel-body-housing-34{
  height:120px;
  background-size: cover;
  background-image: url(https://pixabay.com/static/uploads/photo/2016/03/10/18/44/top-view-1248955_960_720.jpg)
}

.panel-body-housing-35{
  height:120px;
  background-size: cover;
  background-image: url(https://pixabay.com/static/uploads/photo/2014/11/14/18/08/psychology-531071_960_720.jpg)
}

.panel-body-housing-36{
  height:120px;
  background-size: cover;
  background-image: url(https://pixabay.com/static/uploads/photo/2014/12/15/13/40/bell-pepper-569070_960_720.jpg)
}


.panel-body-housing-37{
  height:120px;
  background-size: cover;
  background-image: url(https://pixabay.com/static/uploads/photo/2015/05/31/11/47/makeup-791303_960_720.jpg)
}

.panel-body-housing-38{
  height:120px;
  background-size: cover;
  background-image: url(https://pixabay.com/static/uploads/photo/2015/05/31/11/47/makeup-791303_960_720.jpg)
}




















.panel-body-housing-40{
  height:120px;
  background-size: cover;
  background-image: url(https://pixabay.com/static/uploads/photo/2015/05/07/11/02/guitar-756326_960_720.jpg)
}

.panel-body-housing-41{
  height:120px;
  background-size: cover;
  background-image: url(https://pixabay.com/static/uploads/photo/2015/05/31/11/47/makeup-791303_960_720.jpg)
}

.panel-body-housing-42{
  height:120px;
  background-size: cover;
  background-image: url(https://pixabay.com/static/uploads/photo/2015/07/17/21/05/piano-849726_960_720.jpg)
}

.panel-body-housing-43{
  height:120px;
  background-size: cover;
  background-image: url(https://pixabay.com/static/uploads/photo/2013/06/05/12/32/martial-arts-116542_960_720.jpg)
}

.panel-body-housing-44{
  height:120px;
  background-size: cover;
  background-image: url(https://pixabay.com/static/uploads/photo/2016/01/19/09/43/yoga-1148172_960_720.jpg)
}

.panel-body-housing-45{
  height:120px;
  background-size: cover;
  background-image: url(https://pixabay.com/static/uploads/photo/2015/11/08/06/46/ballet-1033167_960_720.jpg)
}

.panel-body-housing-46{
  height:120px;
  background-size: cover;
  background-image: url(https://pixabay.com/static/uploads/photo/2015/09/09/20/50/writing-933262_960_720.jpg)
}

.panel-body-housing-47{
  height:120px;
  background-size: cover;
  background-image: url(https://pixabay.com/static/uploads/photo/2015/08/28/11/37/painting-911804_960_720.jpg)

}

.panel-body-housing-48{
  height:120px;
  background-size: cover;
  background-image: url(https://pixabay.com/static/uploads/photo/2015/05/31/11/47/makeup-791303_960_720.jpg)
}

.panel-body-housing-49{
  height:120px;
  background-size: cover;
  background-image: url(https://pixabay.com/static/uploads/photo/2016/04/07/14/01/wool-1313994_960_720.jpg)
}

.panel-body-housing-50{
  height:120px;
  background-size: cover;
  background-image: url(https://pixabay.com/static/uploads/photo/2016/02/05/15/34/pasta-1181189_960_720.jpg)
}

.panel-body-housing-51{
  height:120px;
  background-size: cover;
  background-image: url(https://pixabay.com/static/uploads/photo/2015/05/31/11/47/makeup-791303_960_720.jpg)
}

.panel-body-housing-52{
  height:120px;
  background-size: cover;
  background-image: url(https://pixabay.com/static/uploads/photo/2015/05/31/11/47/makeup-791303_960_720.jpg)
}

.panel-body-housing-53{
  height:120px;
  background-size: cover;
  background-image: url(https://pixabay.com/static/uploads/photo/2015/05/31/11/47/makeup-791303_960_720.jpg)
}



