


.up-var{
    padding-top:57px;

}

.upper-menu {
    text-align: center;

    height: 50px;
    cursor: pointer;
    margin-top: -43px;
      margin-left: -170px;
  border-top: 2px solid rgb(235, 235, 235);
    border-bottom: 2px solid rgb(235, 235, 235);
    transition: all 0.5s;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.upper-menu ul li {
  margin-top: 16px;

    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    width: 13%;
    float: left;
    box-sizing: border-box;
    border-right: 1px solid rgb(235, 235, 235);
    overflow: hidden;

}
.upper-menu ul li:hover{
    color:gray;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}



.home-all-wrapper{
  position:relative;
  height:1000px;
}


.top_home_page{
     height:280px;
    width:2000px;
    position:relative;
    background-color:   #F5F5F5;
}



.top_home_page h1{
 position: absolute;
    right: 550px;
    bottom: 100px;
   font-size:50px;
   margin-right: 730px;
}

.top_home_page h3{
    font-size:15px;
position: absolute;
    right: 450px;
    bottom: 80px;
margin-right: 730px;
}


.home_pictures_wrapper {
  text-align: left;
}
.home_pictures_wrapper h1{
  color:  #696969;
  margin-left: 100px;
  padding-top:30px;
  padding-bottom:10px;
}

.home_pictures{
  margin-left:144px;
}


.home_pictures p{
  text-align: center;
  text-rendering:optimizeLegibility;
  width:70%;
  margin:0 auto;
}


.pic {
    float: left;
    width: 0px auto;
    margin:4px;
}




.home-all-wrapper h2{
  margin-left: 154px;
}

.categories ul{
        margin-left:92px;

}

.categories ul li{
   height:140px;
  margin-top:30px ;
   margin-left: 10px; padding:3px;
   float: left;
   width: 21%;
   list-style: none;
   font-size: 17px;
   border-radius: 4px;
}



.home-story-wrapper{
height:600px;
}


.home-story{
   margin-left: 109px;
   padding-top:25px;
}

.panel-body-housing{
  height:120px;
 width:100%

}



