
 
 .home-all-wrapper{
 	height:1000px
 }

 .top_home_page{
 	height:280px;width:100%;margin-top: -34px;
 }

  .top_home_page h1{
  	text-align: center;
  	font-size:50px;
    padding-top:78px;
  }

 .top_home_page h3{
 	text-align: center;
 	font-size:15px;
 }

 .home-all-wrapper h2{
 	margin-left:132px; 
 	margin-top: 2.5%;
 }

 .categories ul{
 	margin-left:92px;
 	margin-top: -19px;
 }


 .categories ul li{
 	height:140px;
 	margin-top:30px;
 	margin-left:10px;
 	padding:3px;
 	width:21%;
 	font-size:17px;
 	border-radius:4px
 }


 .panel-body-housing{
 	height:120px;
 	width:100%;
 }

 
 .services-detail-wrapper{
 	margin:39px;
 }

 .services-detail-wrapper h2{
 	border-bottom:1px solid #006400;
 	margin:60px;
 	padding-top:10px
 	}
 .dynamic-row{
 	padding:10px 0 20px;
	display:block;
	width:100%;
	margin:30px;
}

 .dynamic-row li{
 	line-height:17px;
 }
 
 .details{
 	display:inline;
 	height:200px;
 	width:30%
 }



.provider_service_pictures,.reviews_providers,.rulesfromprovider{
	float:left;
}

.provider_wrapper h2{
  font-weight: normal;
  padding-left: 10px;
  border-left: solid 3px  #f18d00;
  font-size: 18px;
  font-weight: 700;
}


.provider_introduction h3{margin-left: 30%; width:20%;}


.service-price_provider h1{color:#fff;text-align:center;font-size:40px;padding-top:28px}
.service-price_provider{background-color:orange;margin-top:-27px;height:100px}
.fa-jpy{padding-right:16px;font-size:46px}

.provider_service_pictures{width:73%;height:420px; margin-left:1%}
.service_pic{float:left;width:270px;height:300px;margin-top:60px;margin-left:15px}
.rulesfromprovider{width:73%;height:0 auto;margin-left:14%; margin-bottom:20px;}


.reviews_providers{width:73%;height:0 auto;margin-left:14%; }
.main-image{background-color:gray;height:360px;}

