<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
   
    <h1>「<%= @title %> 」の掲載が完了しました。</h1>
   <p>Seekleをご利用いただき、誠にありがとうございます。</p>
<p>サービスぺージの作成が完了し、掲載が完了しました。</p>


<p>お客様からお問い合わせ・ご予約がきたら・・・</p>

<p>１. すぐにお返事をしましょう！</p>
 <p>- 24時間以内のお返事を心がけましょう。</p>

<p>２. 当日の予定、料金を明確にしましょう！</p>
 <p>- 当日、変更のないようにしましょう。</p>

<p>３. いつでもご気軽にご相談ください！</p>
 <p>- 何か困ったことがあればSeekleのお問い合わせメールにご連絡ください。</p>
 


<br>※このEメールアドレスは配信専用です。このメッセージに返信しないようお願いいたします。
<br>────────────────────────────────
<br>運営会社：株式会社Seekle
<br>
<br>●お問い合せ
<br>seekle.info@gmail.com
<br>────────────────────────────────
  </body>
</html>