<h1><%= @message %></h1>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

 <div class="top-wrapper">
    <div class="container">
      <div class="background-image">
       <a img="https://static.pexels.com/photos/7075/people-office-group-team.jpg">
       </a>
     </div>
      <h1>賢く生きよう。</h1>
      <p>SEEKLEは人と人をつなげるマッチングサービスです。</p>
      <div class="btn signup signup-show"><%= link_to "アカウント作成",notes_new_path %></div>
    </div>

<form>
<input type="text" class="form-postalcode">
 <button type="Submit" class="search-button">Search</button>
</form>

  </div>


  <div class="full-block jobstyle-row">
    <div class="wrapper" data-browse-categories="">
    <ul>
      <li>住まい</li>
      <li>イベント</li>
      <li>習い事</li>
      <li>健康</li>
      <li>その他</li> 
    </ul>
    </div>
  </div>






<div class="lesson-wrapper">
    <div class="container">
      <div class="heading">
        <h2>Seekleとは</h2>
        <p>Seekleは語学教室・カメラマン・メイクアップアーティストなど<br>各種サービスのプロバイダーと顧客を繋ぐ場を提供するローカルサービスです。</p>

      </div>
      <div class="lessons">
        <div class="lesson">
          <div class="lesson-icon">
            <img src="http://www.atsdr.cdc.gov/substances/local/images/references2_200px.jpg">
            
          </div>
          <p class="txt-contents"></p><h3>1. プロを見つけよう</h3>
あなたの住所、またはサービス一覧からプロを探そう。<p></p>
        </div>
        <div class="lesson">
          <div class="lesson-icon">
            <img src="http://www.atsdr.cdc.gov/substances/local/images/references2_200px.jpg">
            
          </div>
          <p class="txt-contents"></p><h3>2. プロを選ぼう</h3>

値段、プロフィール、レビュー、などの様々な情報から、あなたの求めるサービスにあったプロを比較しよう<p></p>
        </div>
        <div class="lesson">
          <div class="lesson-icon">
            <img src="http://www.atsdr.cdc.gov/substances/local/images/references2_200px.jpg">
           
          </div>
          <p class="txt-contents"></p><h3>3. 採用！</h3>
準備ができたら採用！<p></p>
        </div>
      </div>
    </div>
  </div>






<div class="stories">
 <div class="wrapper wrapper-title">
  <h2>みんなの体験を覗いてみよう</h2>
  <span class="Subtitle">CUSTOMER VOICES</span>
 </div>

  <div class="wrapper" id="cards">
    <div class="dynamic-row">
     <a href="blog/finding-an-engagement-photographer-on-thumbtack/"><span class="card" data-card-one="">
      
             <blockquote>
              <p>初心者の自分に対して、ドラマーの考え方を様々な角度・出来事なども含めてを熱くかつ丁寧に教えていただき、今後自分がドラムを始めるにあたってどのように取り組もうかと考えるヒントをいろいろいただけました。マイペースですが、今後もお世話になりたく宜しくお願いいたします。
              </p>
             </blockquote>
      <div class="professional">
      <div class="icon">
       <img src="http://resize.blogsys.jp/31a88f9c179eb8fb5ff822b83ed6937e5f2c7e0a/crop1/90x90/http://livedoor.blogimg.jp/hatima/imgs/6/f/6f7313be.jpg">
       </div>
        <div class="stats">
            <p class="name">黒子テツヤ</p>
               <span class="star-rating star-rating-large stars-5">
                 ★★★★★  4reviews
              </span>
        </div>
          </div>
            <div class="info">
              <h3>Amanda had a photoshoot</h3>
                <p>Read the full story</p>
               </div>
            </span>
            </a>
    <a href="blog/finding-your-voice-on-thumbtack/"><span class="card" data-card-two="">
                    
                    <blockquote>
                        <p>教室ではなく、カフェでの授業というスタイルが 初めてだったので緊張しましたが、すごく楽しく過ごさせて頂きました。 何でも気さくに話す事ができましたし、お勧めのイラレの本も一緒に探して頂けて、本当に心強く思いました。 これからも是非宜しくお願いいたします！</p>
                    </blockquote>
                    <div class="professional">
                        <div class="icon">
                            <img src="http://resize.blogsys.jp/3f1e0609073acc4962eb1a160292936cc0774f1a/crop1/90x90/http://livedoor.blogimg.jp/hatima/imgs/2/0/20ab8270.png">
                        </div>
                        <div class="stats">
                            <p class="name">緑間真太郎</p>
                            <span class="star-rating star-rating-large stars-5">
                                ★★★★★  34reviews
                            </span>
                        </div>
                    </div>
                    <div class="info">
                       
                        <p>Read the full story</p>
                    </div>
                </span></a>

<a href="blog/thumbtack-artists-mural-supports-colorado-river-at-colfax-whole-foods/"><span class="card" data-card-three="">
                    
                    <blockquote>
                        <p>昨日はありがとうございました。 吉田先生の体験レッスンを受講して英語に対する苦手意識が少し薄れ、 英語って楽しいと思うことが出来ました。 教わり方によってこんなに感じ方の違いが出るものなのかと驚いております。 次回以降のレッスンもどうぞよろしくお願いいたします。</p>
                    </blockquote>
                    <div class="professional">
                        <div class="icon">
                            <img src="http://resize.blogsys.jp/b9fa0db8e207580ceb9a1db37dd5581d992d2e43/crop1/90x90/http://livedoor.blogimg.jp/jin115/imgs/1/8/180b9c14.jpg">
                        </div>
                        <div class="stats">
                            <p class="name">紫原敦</p>
                            <span class="star-rating star-rating-large stars-5">
                                ★★★★★  4reviews
                            </span>
                        </div>
                    </div>
                    <div class="info">
                       
                        <p>Read the full story</p>
                    </div>
                </span></a>
<a href="blog/how-deno-cut-his-commute-in-half/"><span class="card" data-card-four="">
                    
                    <blockquote>
                        <p> 昨日はありがとうございました。 吉田先生の体験レッスンを受講して英語に対する苦手意識が少し薄れ、 英語って楽しいと思うことが出来ました。 教わり方によってこんなに感じ方の違いが出るものなのかと驚いております。 次回以降のレッスンもどうぞよろしくお願いいたします。</p>
                    </blockquote>
                    <div class="professional">
                        <div class="icon">
                            <img src="http://resize.blogsys.jp/3eb45a48a6124bd1d54a7dfb7560d7671ed062ee/crop1/90x90/http://livedoor.blogimg.jp/hatima/imgs/8/d/8dc7fd51.jpg">
                        </div>
                        <div class="stats">
                            <p class="name">赤司征十郎</p>
                            <span class="star-rating star-rating-large stars-4">
                                ★★★★★  34reviews
                            </span>
                        </div>
                    </div>
                    <div class="info">
                            <p>Read the full story</p>
                    </div>
                </span></a>
<a href="blog/scotts-kitchen-remodel/"><span class="card" data-card-five="">
                    
                    <blockquote>
                        <p>昨日はありがとうございました。 吉田先生の体験レッスンを受講して英語に対する苦手意識が少し薄れ、 英語って楽しいと思うことが出来ました。 教わり方によってこんなに感じ方の違いが出るものなのかと驚いております。 次回以降のレッスンもどうぞよろしくお願いいたします。</p>
                    </blockquote>
                    <div class="professional">
                        <div class="icon">
                            <img src="http://resize.blogsys.jp/39858e256d635c69146e823e8a0b3f06b1090082/crop1/90x90/http://livedoor.blogimg.jp/jin115/imgs/9/2/9229be85-s.jpg">
                        </div>
                        <div class="stats">
                            <p class="name">青峰大輝</p>
                            <span class="star-rating star-rating-large stars-5">
                               ★★★★★  34reviews 
                            </span>
                        </div>
                    </div>
                    <div class="info">
                       
                        <p>Read the full story</p>
                    </div>
                </span></a>

<a href="blog/nancy-and-joes-post-sandy-transformation/"><span class="card" data-card-six="">
                    
                    <blockquote>
                        <p>昨日はありがとうございました。 吉田先生の体験レッスンを受講して英語に対する苦手意識が少し薄れ、 英語って楽しいと思うことが出来ました。 教わり方によってこんなに感じ方の違いが出るものなのかと驚いております。 次回以降のレッスンもどうぞよろしくお願いいたします。</p>
                    </blockquote>
                    <div class="professional">
                        <div class="icon">
                            <img src="http://resize.blogsys.jp/c7dbb6c3d87616012b3f2f77a60682c6033c50fb/crop1/90x90/http://livedoor.blogimg.jp/hatima/imgs/0/a/0a0098e4.jpg">
                        </div>
                        <div class="stats">
                            <p class="name">黄瀬涼太</p>
                            <span class="star-rating star-rating-large stars-5">
                                ★★★★★  34reviews
                            </span>
                        </div>
                    </div>
                    <div class="info">
                        
                        <p>Read the full story</p>
                    </div>
                </span></a>                
       </div>

    </div>
</div>














  <div class="message-wrapper">
    <div class="container">
      <div class="heading">
        <h2>あなたもプロとして参加しませんか？</h2>
        <h3 id="tagline">Let's find customers who need you!</h3>
      </div>
      <span class="btn message signup-show">Join as a Pro</span>
    </div>
  </div>







