
<div class="nav-var">
 <div class="full-block jobstyle-row">
    <div class="wrapper" >
    <ul>
      <li>住まい</li>
      <li>イベント</li>
      <li>習い事</li>
      <li>健康</li>
      <li>その他</li>
    </ul>
    </div>
  </div>
  </div>


<div class="home-all-wrapper">

<div class="home-little clearfix">
   <div class="top_home_page">


       <a img="https://pixabay.com/static/uploads/photo/2014/07/05/10/30/tool-384740_960_720.jpg">
       </a>

    <h1>住まい</h1>
     <h3>あなたの暮らしを変えるSeekleでの住まいサービス</h3>
   </div>

      <div class="home_pictures_wrapper">
        <h1>人気のカテゴリー</h1>
        <div class="home_pictures">

           <div class="pic">
               <img src="https://pixabay.com/static/uploads/photo/2016/02/07/21/11/computer-1185637_960_720.jpg" alt="First" width="260" height="200" border="0" />
            </div>

         <div class="pic">
             <img src="https://pixabay.com/static/uploads/photo/2016/02/07/21/11/computer-1185637_960_720.jpg" alt="First" width="260" height="200" border="0" />
        </div>

 <div class="pic">
             <img src="https://pixabay.com/static/uploads/photo/2016/02/07/21/11/computer-1185637_960_720.jpg" alt="First" width="260" height="200" border="0" />
        </div>

        <div class="pic">
                <img src="https://pixabay.com/static/uploads/photo/2016/02/07/21/11/computer-1185637_960_720.jpg" alt="First" width="260" height="200" border="0" />
        </div>
      </div>
  </div>
  </div>




<heading>
  <div class="home-heading">
  <h2>住まい ジャンル</h2>
  </div>
    <div class="home-heading-next">
    </div>
   </heading>


  <div class="home-category-wrapper">
   <div class="categories">
     <ul>
      <li>便利屋と修復プロジェクト</li>
      <li>増設、リモデル</li>
      <li>配管工事</li>
      <li>引っ越し</li>
      <li>コンクリート、石造建築</li>
      <li>ペインティング</li>
      <li>屋根、雨漏り</li>
      <li>壁、階段、フレーミング</li>
      <li>ドア、窓</li>
      <li>クリーニング</li>
      <li>大工、木工</li>
      <li>その他</li>
     </ul>

  </div>

  </div>




<div class="home-story-wrapper">

  <div class="home-second-heading">
   </div>
  <h2>住まい ストーリー</h2>


  <div class="home-second-heading">
   </div>



 <div class="home-story">
   <div class= "main-story">
    <img src="https://pixabay.com/static/uploads/photo/2016/02/07/21/11/computer-1185637_960_720.jpg" alt="First" width="270" height="360" border="0" />

   </div>

 <div class="about-story">
       <h1>Story</h1>
     </div>

    <div class="second-story">
    <img src="https://pixabay.com/static/uploads/photo/2016/02/07/21/11/computer-1185637_960_720.jpg" alt="First" width="190" height="190" border="0" />
 </div>

   <div class="about-story-second">
       <h1>Story</h1>
     </div>

<div class="more-detail">
 <h2>もっと詳しく</h2>
  </div>

 </div>
 </div>
