
<div class="up-var">
 <div class="upper-menu">
    <div class="wrapper" >
    <ul>
       <li><a href="/housing/index">住まい</a></li>
    <li><a href="/housing/event">イベント</a></li>
    <li><a href="/housing/lesson">習い事</a></li>
      <li><a href="/housing/health">健康</a></li>
   <li><a href="/housing/others">その他</a></li>
    </ul>
    </div>
  </div>
  </div>

<div class="home-all-wrapper">

<div class="home-little clearfix">

<div class="services-detail-wrapper">
  <h2>その他</h2>
   <div class="dynamic-row">
     <ul class="details">
       <li>その他カテゴリーは準備中です</li>

     </ul>




</div>
