


<div class="genre">
<div class="bootstrap1">
<ol class="breadcrumb">
  編集する |  掲載中サービス一覧へ
  </div></div>

<div class="provider_wrapper">

<div class="service-introduction">
 <div class="service-price_provider">
 <h1><i class="fa fa-jpy "></i>5,000 /月</h1>
  </div>

  <div class="service_order_btn"><h4>このサービスを依頼</h4></div>
  </div>


<div class="provider-introduction">
 <%= image_tag("Buq4YUxCcAAISFu.jpg", class: "face_pic")%>
<h1>アメリカからの帰国子女が教える英語</h1>
  <p>サービスカテゴリー：英語初級者〜上級者のための英語教室</p>
  <p2>エリア：大阪 梅田</p2>

</div>



<div class="service_explain">
<h2>このサービスについて</h2>
  <p>長く国際営業全般（営業～交渉・契約～納入・引き渡し～資金やファイナンスの手配と回収）に携わり、欧米・中東アフリカ・アジア各国への往来を繰り返し、合計９年の海外駐在経験もしてきました。関与した業界はメーカー・ロジスティック・金融・損保・建設・エンジニアリング等多岐にわたります。ビジネス会話は互いに「テーマ」がハッキリしている分、「話の方向を予測をしやすい」つまり比較的ヒアリングしやすい、という大きなアドバンテージがあります。
</p>

  <h3>もっと詳しく</h3>
  </div>



  <div class="provider_service_pictures">
    <ul>
      <li><%= image_tag("Buq4YUxCcAAISFu.jpg", class: "service_pic")%></li>
      <li><%= image_tag("Buq4YUxCcAAISFu.jpg", class: "service_pic")%></li>
      <li><%= image_tag("Buq4YUxCcAAISFu.jpg", class: "service_pic")%></li>
    </ul>
  </div>

<div class="rulesfromprovider">
<h2>プロバイダーからのお願い</h2>
 <ul>
   <li>筆記用具の持参をお願いします</li>
   <li>筆記用具の持参をお願いします</li>
   <li>筆記用具の持参をお願いします</li>
     <li>筆記用具の持参をお願いします</li>
   <li>筆記用具の持参をお願いします</li>
     <li>筆記用具の持参をお願いします</li>
   <li></li>
 </ul>
  </div>

  <div class="reviews_providers">
    <h2>レビュー (2)</h2>
  </div>

  </div>
