
<div class="guide-wrapper">

<div class="guide_title">

<h1>ご利用の流れ</h1>
  </div>

 <div class="guide-explain-wrapper">

 <h2>1.あなたの求めるサービスを探す</h2>
<i class="fa fa-search fa-4x"></i>


  <p>住まい、イベント、習い事、健康、などたくさんのカテゴリーからあなたの求めるサービスを<br>お近くの住まいから見つけることができます。</p>


 </div>
<i class="fa fa-arrow-down fa-4x"></i>

 <div class="guide-explain-wrapper">
 <h2>2.あなたにあったプロバイダーを決めよう</h2>
<i class="fa fa-users fa-4x"></i>

  <p>住まい、イベント、習い事、健康、などたくさんのカテゴリーからあなたの求めるサービスを<br>お近くの住まいから見つけることができます。</p>





  <p></p>





 </div>
<i class="fa fa-arrow-down fa-4x"></i>


 <div class="guide-explain-wrapper">
 <h2>3.プロバイダーと連絡をとろう</h2>
<i class="fa fa-envelope-o fa-4x"></i>

  <p>住まい、イベント、習い事、健康、などたくさんのカテゴリーからあなたの求めるサービスを<br>お近くの住まいから見つけることができます。</p>

 </div>


<i class="fa fa-arrow-down fa-4x"></i>

 <div class="guide-explain-wrapper">
 <h2>4.サービスを受けよう！</h2>
<i class="fa fa-child fa-4x"></i>

  <p>住まい、イベント、習い事、健康、などたくさんのカテゴリーからあなたの求めるサービスを<br>お近くの住まいから見つけることができます。</p>

 </div>






  </div>
