
<div class="guide-wrapper">

	<div class="guide_title">

		<h1>ご利用の流れ</h1>
	</div>

	<div class="guide-explain-wrapper">

		<h2>1.あなたの求めるサービスを探す</h2>
		<i class="fa fa-search fa-4x"></i>


		<p>住まい、イベント、習い事、健康、などたくさんのカテゴリーからあなたの求めるサービスを<br>お近くの住まいから見つけることができます。</p>


	</div>
	<i class="fa fa-arrow-down fa-4x"></i>

	<div class="guide-explain-wrapper">
		<h2>2.あなたにぴったりのサービスを見つけよう</h2>
		<i class="fa fa-users fa-4x"></i>

		<p>価格、口コミ、サービス提供者の方の情報などを見てから自分に合ったものを決めましょう</p>

		<p></p>

	</div>
	<i class="fa fa-arrow-down fa-4x"></i>


	<div class="guide-explain-wrapper">
		<h2>3.依頼しよう</h2>
		<i class="fa fa-envelope-o fa-4x"></i>

		<p>見つけたら、サービスを予約フォームから依頼しましょう。何か不明点があればサービス提供者の方に<br>メッセージでお問い合わせしましょう。</p>

	</div>


	<i class="fa fa-arrow-down fa-4x"></i>

	<div class="guide-explain-wrapper">
		<h2>4.サービスを受けよう！</h2>
		<i class="fa fa-child fa-4x"></i>

		<p>当日は提供者の方と決めた段取りでサービスを受けましょう</p>

	</div>



</div>
