<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">

<link rel="stylesheet" type="text/css" href="index.css">




 <div class="top-wrapper">
    <div class="container">
      <div class="background-image">

       <a img="https://static.pexels.com/photos/7075/people-office-group-team.jpg">
       </a>
     </div>
      <h1>登録費無料の簡単サービス依頼</h1>

      <p>簡単にあなたの求めるサービスを依頼</p>


  <% if user_signed_in? %>
 <div class="bootstrap"><%= link_to "ご利用の流れ", '/home/guide', class: "btn btn-lg btn-primary" %></div>
   <% else %>

<div class="bootstrap">
     <%= link_to "アカウントを作成する", new_user_registration_path, class: "btn btn-lg btn-primary" %>
   </div>
    <% end %>


    </div>

    </div>




  <div id="fade-in2" class="dropmenu">
    <div class="wrapper" >
    <ul>
      <li><a href="/housing/index"><i class="fa fa-home fa-fw"></i>住まい</a>

      </li>
      <li><a href="/housing/event">
<i class="fa fa-glass fa-fw"></i>イベント</a>

      </li>
      <li><a href="/housing/index"><i class="fa fa-book fa-fw"></i>習い事</a>

      </li>
      <li><a href="/housing/index"><i class="fa fa-heart fa-fw"></i>健康</a>

      </li>
      <li><a href="/housing/index"><i class="fa fa-list-ul fa-fw"></i>その他</a>

      </li>
    </ul>
    </div>
  </div>


<div class="explain-seekle-wrapper">
 <div class="container">
    <div class="Seekle-heading">
     <h2>これからのあなたの新しい暮らしかた</h2>
      <p>Seekleは語学教室・カメラマン・メイクアップアーティストなど<br>各種サービスのプロバイダーと顧客を繋ぐ場を提供するローカルサービスです。</p>
    </div>
  </div>
</div>


<div class="about-seekle-wrapper">
   <div class="container">
     <div class="reasons">
       <div class="reason">
       <div class=icons>
       <i class="fa fa-users fa-5x"></i>
     </div>
        <p class="txt-contents"></p><h2>プロバイダーとは</h2>
<p>サービスを提供する提供者です。プロフィール、レビュー、サービス価格などの様々な情報から、ぴったりなプロバイダーを比較できます。</p>
        </div>
  </div>
     <div class="reasons">
       <div class="reason">
       <div class="icons">
          <i class="fa fa-money fa-5x"></i>
        </div>
        <p class="txt-contents"></p><h2>お手頃な費用で貴重な経験</h2>
<p>高いお金を払って専門のプロに頼む前に、あなたの周りで求めるサービスを提供するプロバイダーを探すことができます。 </p>
        </div>
  </div>

     <div class="reasons">
       <div class="reason">
       <div class="icons">
       <i class="fa fa-smile-o fa-5x"></i>
     </div>
        <p class="txt-contents"></p><h2>豊富なジャンル</h2>
<p>カメラマン、英会話教室、ペットのしつけを頼みたいなど、Seekleは様々なジャンルのプロバイダーと繋がることのできる場です。</p>
        </div>
  </div>
  </div>
  </div>




<div class="lesson-wrapper">


      <div class="heading">
        <h2>How Seekle Works</h2>
      </div>
  <div class="lesson-container">
      <div class="images">
        <div class="first">
          <div class="first-icon">
           <img src="https://pixabay.com/static/uploads/photo/2016/02/07/21/11/computer-1185637_960_720.jpg" alt="First" width="300" height="212" border="0" />

          </div>

          <div class="how-works-explain">
           <h3>1. 見つけよう</h3>
         <p> あなたの住所、または各種サービス覧から<br>プロバイダーを探そう。</p>
          </div>
        </div>

    <div class="first">
      <div class="first-icon">
        <img src="http://gahag.net/img/201602/14s/gahag-0055980653-1.jpg" alt="Second" width="300" height="212" border="0" />
      </div>


      <div class="how-works-explain">
        <h3>2. 選ぼう</h3>
           <p>値段、プロフィール、レビュー、などの様々な情報から、あなたの求めるサービスにあったプロバイダーを比較しよう。</p>
         </div>
    </div>



     <div class="first">
        <div class="first-icon">
          <img src="http://www.cambiandoelnorte.com/wp-content/uploads/2016/01/photo-1453127370373-a52c2f02c097.jpeg" alt="Third" width="300" height="212" border="0" />
        </div>
         <div class="how-works-explain">
          <h3>3. 依頼しよう</h3>
            <p>準備ができたら採用！<br>Seekleでの素晴らしい経験を増やしていきましょう。</p>
        </div>
      </div>
      </div>

    </div>
  </div>





  <div class="message-wrapper">
    <div class="container">
      <div class="heading">
        <h2>あなたもプロバイダーとして参加しませんか？</h2>
        <h3 id="tagline">Let's find customers who need you!</h3>
      </div>
      <%= link_to "プロバイダーとして参加",'/home/pro', class: "btn message signup-show" %>
    </div>
  </div>





