
<%= render 'home/header/dashboardhead' %>

 <div class="pro-top-wrapper">

    <div class="pro-container">
      
      <h1>登録費・掲載費無料で集客が可能！</h1>

     <p>集客・口コミ集め・お客様との連絡・サービス管理などのサポートをさせていただきます</p>

       <div class="bootstrap"><%= link_to "サービス提供者として参加", 'http://goo.gl/forms/y9P0l9bh5OFkPs1J3', class: "btn btn-lg btn-primary" %></div>
    </div>
  </div>



<div class="explain-provider-wrapper">

    <div class="Seekle-heading">
     <h2>サービス提供者として活躍しませんか</h2>
      <p>実際にあなたのサービスを必要としている人を見つけ、Seekleを通して集客をすることができます。<br>
      開業し、独立したがお客さんが少ない、いろんな人に自分の提供するサービスを知ってもらえる機会がない。<br>などのお悩みを解決します！</p>
    </div>

</div>

<div class="main-container">
<div class="about-provider-wrapper">

 <div class="reasons">
   <div class="icons">
    <i class="fa fa-clock-o fa-5x"></i></div>
    <h2>ホームページ作成不要！</h2>
    <p>店舗のホームページを外注するか、作っても検索エンジンの上位に上がるのは大手の会社が多い。。Seekleでは頑張れば頑張るほど、あなたのサービスが目立つ広告塔となります！</p>
  </div>

  <div class="reasons2">
   <div class="icons"><i class="fa fa-user fa-5x"></i> </div>
   <h2>登録費、掲載費無料！</h2>

   <p>初期費用・月額費用・掲載料は、すべて0円。予約確定ではじめて売り上げから10%の予約手数料が発生します。
今なら予約手数料も初回1回は完全無料です。

   </p>

 </div>



 <div class="reasons2">
   <div class="icons">
    <i class="fa fa-bullhorn fa-5x"></i></div>
    <h2>口コミを集めましょう！</h2>
    <p>サービス提供後、お客さんがサービスに対してのレビューを書きます。たくさんの良い口コミを集めてたくさんの人に人気店舗として知ってもらいましょう！</p>
  </div>


</div>
</div>

  <div class="message-wrapper">

      <div class="heading">
        <h2>あなたもサービス提供者として参加しませんか？</h2>
        <h3 id="tagline">Let's find customers who need you!</h3>
      </div>
      <%= link_to "サービス提供者として参加",'http://goo.gl/forms/y9P0l9bh5OFkPs1J3', class: "btn message signup-show" %>
    
  </div>




