
<div class="up-var">
 <div class="upper-menu">
    <div class="wrapper" >
    <ul>

    </ul>
    </div>
  </div>
  </div>

<div class="signage-menu-heading">

 <ul>
 <li><a href="/home/term">利用規約</a></li>
      <li><a href="/home/policy">プライバシポリシー</a></li>
      <li><a href="/home/signage">特定商取引に基づく表記</a></li>


  </ul>
  </div>




<div class="policy-wrapper">
    <div class="policy-contents">

<h1>特定商取引法に基づく表示</h1>

<div class="signage">

 <ul>
  <li>事業者：株式会社Seekle</li>
  </ul>
  <ul>
  <li>所在地：東京都渋谷区道玄坂2-10-12 新大宗ビル3号館5階531</li>
  </ul>
  <ul>
  <li>連絡先：seekle.info@gmail.com</li>
  </ul>
  <ul>
  <li>電話番号：0798-70-4133</li>
  </ul>
   <ul>
  <li>代表者：森川恵美</li>
  </ul>
  <ul>
  <li>支払い方法と期限：クレジットカード(VISA/MASTER)・銀行振込支払期限につきましては取引によって異なります</li>
  </ul>
   <ul>
  <li>販売価格：各商品ページに記載しています</li>
  </ul>
    <ul>
  <li>返品の取り扱い条件、退会条件：契約期間内であれば、いつでも退会することができます。解約いただくと翌月のサービス提供は行いません。退会は設定画面より行うことが可能です。契約中のサービスが存在する状態での途中退会による返金は承っておりません。</li>
  </ul>
 <ul>
  <li>商品の引渡時期：即時(サービス種によって異なる)</li>
  </ul>
   <ul>
  <li>返金・交換：原則として取引確定後の返金・交換は行っておりません。</li>
  </ul>
  </div>

  </div>
  </div>

