<body>

<div class="signage-wrapper">

 <div class="policy-contents">
 
<table class="table table-bordered">
 <tbody>
<h2>特定商取引法に基づく表示</h2>
 
  <tr>
    <td>事業者：</td>
    <td>株式会社Seekle</td>
   
  </tr>
  <tr>
    <td>所在地：             </td>
    <td>兵庫県</td>
  </tr>
  <tr>
    <td>連絡先：</td>
    <td>seele.info@gmai.com </td>
  </tr>
  <tr>
   <td>代表者：</td>
   <td>森川 恵美</td>
 </tr>
 <tr>
   <td>目安料金：</td>
   <td>約1000円〜(サービス種によって異なる)</td>
 </tr>
 <tr>
 <td>支払い方法と期限：</td>
 <td>クレジットカード(VISA/MASTER)・銀行振込支払期限につきましては取引によって異なります
返品・交換について：確定後の取引は原則として返品・交換は不可能です
</td>
 </tr>
 <tr>
 <td>商品の引渡時期：</td>
 <td>即時</td>
 </tr>
 <tr>
 <td>返金・交換：</td>
 <td>原則として取引確定後の返金・交換は行っておりません。</td>
 </tr>

 </tbody>
  </table>
  </div>
  </div>
  </body>
  </html>
