<%= render 'users/header' %>

<div class="bootstrap">
	<div class="mypage-all_wrapper">
		<div class="mailbox_wrapper">
			<div class="bootstrap">
			<%= render partial: 'mailbox/folder_view', locals: { is_conversation: false, messages: @inbox } %>
			</div>
		</div>
	</div>
</div>

