<%= render 'users/header' %>
<%= render 'home/header/dashboardhead' %>


		<div class="mailbox_wrapper">
			<div class="bootstrap">
			<%= render partial: 'mailbox/folder_view', locals: { is_conversation: false, messages: @inbox } %>
			</div>
		</div>
	</div>
</div>

