<div class="up-var">
  <div class="upper-menu">
    <div class="wrapper" >
      <ul>
        <li><a href='/users'>マイページ</a></li>
         <li><a href='/mailbox/inbox'>メッセージ

        <li><a href='/dashboard/transaction'>取引履歴</a></li>
        <li><a href='/users/edit'>基本設定</a></li>
       
      </ul>
    </div>
  </div>
</div>


<div class="bootstrap">
<div class="mypage-all_wrapper">

<div class="mailbox_wrapper">

<div class="bootstrap">
<%= render partial: 'mailbox/folder_view', locals: { is_conversation: false, messages: @inbox } %>
  </div>
  </div></div></div>



