<h3>Seekleへの事前登録が完了しました！</h3>
 <h4>サービス開始までもうしばらくお待ち下さい。</h4>
   
 <h1>シェアリングエコノミーの未来を切り開く</h1>
  <p>
  あなたにとってはもう古くなって不必要なモノでも、
  どこかにいるあなたの知らない人にとってはそれが凄く重要で貴重なものなの
  かもしれません。<br><br>
  そのような人と人を繋げることをより効果的に需要と供給を満たすことを可能にしてきたのはインターネットです。<br><br>
  これからはこのような"シェアリングエコノミー"がインターネットを通し、より大きく発展し、不必要とされ眠っていたモノやスペースが共有され、それらは価値のあるものだと認識されていきます。<br>

  そしてモノやスペースだけでなくこれからは一人一人の得意なこと、スキル、できることをインターネットを通し、より気軽に共有していく未来があると私は思います。<br><br>
  Seekleはあなたのスキル、才能、得意なことには必ず価値があり、必ず誰かが必要としていると信じます。
　<br>
 <br>
  ・安い費用でSNS用の自分やイベント時の写真を撮ってもらいたい ＋ 撮影の技術、一眼レフ等はあるが、フル活用できていない。<br><br>

  ・趣味で音楽をしているが人前で演奏する機会はない ＋ イベントで楽器演奏者を雇いもっと華やかなものにしたい。<br><br>

  ・ゴルフ選手として活躍していたが、現役を引退した ＋
  本格的にゴルフを習いたい。<br><br>

など<br><br>

そんな一人一人が活躍できる場を提供します。<br><br><br><br>

  </p>

------------------------------------------
  <p>Seekleは事業開発メンバーを募集しています。</p>
  <p>現在メンバーは1人です。ご連絡お待ちしています！</p>
  <p>Email: seekle.info@gmail.com</p>
  <p>Seekle Inc.</p>
  <p>代表 森川 恵美</p>
--------------------------------------------
<br><br><br><br>
