.top-wrapper {
  margin-top: -30px;
    background-size: cover;
    color: white;
    background-image: url("https://static.pexels.com/photos/6182/man-hands-photographer-cameras.jpg");
    text-align: center;   
    padding: 150px 0 30px 0px;

}


.top-wrapper h1 {
    opacity: 0.9;
    font-size: 45px;
    letter-spacing: 5px;
}

.top-wrapper p {
    opacity: 0.7;
    font-size: 14px;
    margin-bottom: 35px;
}

.btn {
    color: white;
    display: inline-block;
    opacity: 0.8;
    cursor: pointer;
    padding: 10px 24px;
    border-radius: 3px;

}
.btn:hover{
  opacity: 1;
}
.signup {
    background-color: rgb(35, 155, 118);
}

form {
    display: block;
    margin-top: 0em;
}

.form-postalcode {
    font-size: 1.3em;
    font-family: Arial, sans-serif;
    color: rgb(170, 170, 170);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px inset;
    padding: 10px;
    border: 1px solid rgb(204, 204, 204);
    margin: 40px 0px;
    border-radius: 3px;
}

.search-button {
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    font-family: Arial, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color: rgb(65, 105, 225);
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 0px inset, rgba(0, 0, 0, 0.2) 0px 1px 2px;
    border: 1px solid rgb(204, 204, 204);
    padding: 13px 20px;
    margin: 0px 0px 20px;
    border-radius: 3px;
}
.jobstyle-row {
    text-align: center;
    height: 40px;
    cursor: pointer;
    margin: 0px;
    border-bottom: 2px solid rgb(235, 235, 235);
    transition: all 0.5s;
}

.wrapper {
    width: 900px;
    position: relative;
    margin: 0px auto;
}
.jobstyle-row ul li {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    width: 20%;
    float: left;
    box-sizing: border-box;
    border-right: 1px solid rgb(235, 235, 235);
    overflow: hidden;
}
.jobstyle-row ul li:hover{
    color:#FFA500;
}




.lesson-wrapper {
    height: 470px;
    padding-bottom: 80px;
    background-color: rgb(247, 247, 247);
    text-align: center;
    font-size:14px;
}
.lesson-wrapper p{
    font-size:15px;
    line-height:25px;
}

.heading {
    padding-top: 40px;
    padding-bottom: 15px;
    color: rgb(95, 93, 96);
}

.lesson {
    float: left;
    width: 33%;
}
.lesson-icon {
    position: relative;
}





.txt-contents {
    width: 500%;
    display: inline-block;
    font-size: 10px;
    color: rgb(179, 174, 181);
}
.stories {
    height: 1200px;
    padding: 60px 10px 100px 50px;
    background: rgb(255, 255, 255);
    margin: 0px auto;
}
.wrapper {
    width: 950px;
    position: relative;
    margin: 0px auto;
}
.wrapper-title {
    text-align: center;
    margin: 0px auto 40px;
}
.dynamic-row {
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.stories .card {
    display: block;
    color: rgb(67, 67, 67);
    position: relative;
    -webkit-font-smoothing: antialiased;
    background-clip: padding-box;
    border-image-source: initial;

    border-image-repeat: initial;
    box-sizing: border-box;
    float: left;
    width: 30%;
    border-radius: 4px;
    border: 1px solid rgb(230, 230, 230);
    padding: 0px 0px 20px;
    margin: 0px 2% 2% 0px;
}
.stories .card h3 {
    font-size: 16.1px;
    color: rgb(255, 255, 255);
    opacity: 1;
    position: absolute;
    bottom: 10px;
    padding: 0px 20px;
}
.stories .card h3 span {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 17.5px;
}
.stories .card blockquote {
    position: relative;
   
    margin: 0px 0px 15px;
    padding: 60px 20px 15px;
}
.stories .card blockquote p {
    font-size: 14px;
    line-height: 25.2px;
    color: rgb(102, 102, 102);
}
.stories .card .professional {
    padding: 0px 20px;
}

.stories .card .professional .icon{
    float: left;
}
.stories .card .professional .icon img {
    background-clip: padding-box;
    border-radius: 50px;
}
.stories .card .professional .stats {
    overflow: hidden;
}
.stories .card .professional .stats .name {
    font-size: 16.1px;
    font-weight: 500;
    padding: 0px 10px;
}
.stories .card .professional .stats .star-rating {
    padding-left: 95px;
    font-size: 13.3px;
    color: rgb(142, 142, 142);
    margin: 2px 0px 0px 10px;
}

.message-wrapper {
   height: 280px;
   padding-top:40px;
    background-color: rgb(247, 247, 247);
    text-align: center;
    border-bottom: 1px solid rgb(238, 238, 238);
}
.message-wrapper .heading h3 {
    font-weight: normal;
}
.message {
    background-color: rgb(153, 50, 204);
    cursor: pointer;
    box-shadow: rgb(148, 0, 211) 0px 3px;
    padding: 15px 40px;
}

.message:active{
  position: relative;
  top: 4px;
  box-shadow: none;
}

