@media (min-width: 320px) and (max-width: 374px){
.company_explanation{

background-size: cover;
    position: relative;
    background-image: url("/images/office.jpg");
        height:280px; 
    margin-top: 0px;
}

.box h1{
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top:100px;
  font-size: 35px;
  letter-spacing: 2px;

}
}


@media (min-width: 375px) {
.company_explanation{

background-size: cover;
    position: relative;
    background-image: url("/images/office.jpg");
        height:280px; 
    margin-top: 0px;
}

.box h1{
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top:100px;
  font-size: 45px;
  letter-spacing: 2px;

}
}
@media (min-width: 414px){

.company_explanation{

background-size: cover;
    position: relative;
    background-image: url("/images/office.jpg");
        height:280px; 
    margin-top: 0px;
}

.box h1{
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top:100px;
  font-size: 45px;
  letter-spacing: 2px;

}

}


@media (min-width: 768px){
  .company_explanation{

background-size: cover;
    position: relative;
    background-image: url("/images/office.jpg");
        height:330px; 
    margin-top: 9px;
}


.box h1{
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top:130px;
  font-size: 45px;
  letter-spacing: 2px;

}

  }





@media (min-width: 1024px){
.company_explanation{

background-size: cover;
    position: relative;
    background-image: url("/images/office.jpg");
        height:400px; 
    margin-top: 9px;
}



.box h1{
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top:160px;
  font-size: 45px;
  letter-spacing: 2px;

}

}



/*会社概要*/
.company_content{
    height:0 auto; margin-bottom:120px;color:#fff;     -webkit-font-smoothing: antialiased;}
    .company_content a{
        color:      #4682B4;
    }

.company_content h3{
    color:black;
text-align:center;
     width:80%;
     margin:0 auto;
     margin-bottom:30px;
      margin-top: 60px;
          color: #337ab7;

          font-weight: normal;
}

.company_content h3:hover{

}


.company_explanation::before{
    /* 透過した黒を重ねる */
    background-color: rgba(0,0,0,0.5);
    /* どの範囲に重ねるかを指定 */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
}



span.big_seekle{
    font-size:29px;
          font-weight:bold;

}

.company_service{height:0 auto; }



.company_service_mission{clear:both;width:80%; margin:0 auto;}

.company_service_mission h2{text-align:center;    color: #333; margin-top: 20px;}

.company_service_mission p{    line-height: 2em; color: #333;     padding: 0 0 0px; }


.company-head h2{height:50px;color:black;font-size:;}     

.company-head h2{text-align:center;margin-top: 100px; font-size: 20px; color: #333;letter-spacing: 1px;height:50px;color:black}


.company-head  h2:after {
    background:     #FF7F50;
    content: '';
    display: block;
    margin: 15px auto 30px;
    width: 140px;
    height: 1px;
}



.company_question{height:1000px}

.left-menu{margin-top:90px;float:left;text-align:left}

.left-menu ul li{line-height:42px;font-size:20px;margin-left:90px;cursor:pointer}

.left-menu ul li:hover{border-left:2px solid gray;color:gray}

.questions-wrapper h1{margin-top:100px;color:gray;text-align:center}

.question{width:600px;text-align:left;margin:70px 500px}.question p{font-size:14.8px;line-height:28px}


#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 77%;
}
#page-top a {
    background: #666;
    text-decoration: none;
    color: #fff;
    width: 100px;
    padding: 20px 0;
    text-align: center;
    display: block;
    border-radius: 5px;
}
#page-top a:hover {
    text-decoration: none;
    background: #999;
}


.company_service_mission a{
    color: #008080;
}

.about-company h1{text-align: center}

.about-company{color:#333;clear:both; text-align: center}

.company-table{ text-align: center; margin: 0 auto; text-align: left; }

.company-table tr td {padding:14px 12px; }


.company-table tr td:nth-of-type(odd) {
    /* vertical-align: top; */
    white-space: nowrap;
}





.beyond_logo{

margin-top: 40px; 
    width:40%;
margin-left:30%;
border-radius: 4px;
}
