.philosophy_content{
  background-color: #F0E68C;
  height:380px;
  color:white;
}
.philosophy_content h1{
  position: absolute;
  top: 250px;
  left: 60%;
  color: white;
    padding:40px;
  font-size: 50px;
  hr{
    margin-top: 3px;
    margin-bottom: 10px;
  }
}


.philosophy_explanation{
height:1000px;
  background-color:white;
  color:gray;
}

.philosophy_explanation h2{
  padding-top: 70px;
  padding-bottom: 30px;
  font-size: 40px;
  text-align:center;
  color:  #696969;
}



.philosophy_explanation p{
  line-height: 40px;
  text-align: left;
  font-size: 18px;
  margin:0px 300px;
  width:700px;

}
