<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
   
    <h2>  「<%= @title %> 」への予約が完了しました。</h2>
   <p>Seekleをご利用いただき、誠にありがとうございます。</p>
<p> 「<%= @provider %>」さんの<br><br>「<%= @title %> 」<br><br>に予約をしました。</p>

 <br>============================================================
<br>
<br>
<p>氏名：<%= @name %></p>

<p>希望日程：<%= @date %></p>

 <p>お問い合わせ、質問等：<%= @message %></p>

<br>
 <br>============================================================

<p><%= @provider %>さんから連絡がきます。お返事を待ちましょう。</p>
<p>連絡が来ない場合はSeekleお問い合わせメールからお気軽にご相談ください。</p>
<br>

<br>※このEメールアドレスは配信専用です。このメッセージに返信しないようお願いいたします。
<br>────────────────────────────────
<br>運営会社：株式会社Seekle
<br>
<br>●お問い合せ
<br>seekle.info@gmail.com
<br>────────────────────────────────
  </body>
</html>

