<div class="company_content">
  <%= image_tag("company.png", size: "1362x500", id: "company_image", class: "company_header")%>
    <h1>会社概要<hr>試し、学び、成功す。</h1>
  </div>
  <div class="company_explanation">
    <h2>Seekleとは？</h2>
    <p>Seekleはベビーシッター・写真家・メイクアップアーティストなど各種サービスのプロバイダーを仲介するローカルサービスを行うWebサービスです。
    求めているサービスのプロバイダーを簡単に予約することができるようになっている。(例えば、カメラマンに写真を撮って欲しいという要望の場合は登録しているカメラマンと繋げる。パーティーを開く時にDJが欲しい場合はDJと繋げたりなど) 大規模な総合ローカルマッチングサービスです。そして、誰でもプロバイダーとしても簡単に参加することができる。「各種サービスのプロフェッショナルを、Amazon.comで本を購入するくらいプロフェッショナル、顧客を簡単に探して契約する」ことを目標にサービスを展開してます。</p>
  </div>
  <div class="company_member">
    <h2>メンバー</h2>
      <div class="member_1">
        <%= image_tag("emi.png", size: "200x200", class: "member_image_1")%>
        <div class="member_explanation">
            <h3>森川恵美</h3>
            <h5>Seekle: CEO</h5>
            <p>誰でもビジネスを始められる時代が来た！！！！！！！！！！！！！！！！！！！！！！！！！！！！</p>
        </div>
      </div>
    <div class="member_2">
      <%= image_tag("naggi.png", size: "200x200", class: "member_image_2")%>
      <div class="member_explanation">
          <h3>五石凪</h3>
          <h5>Seekle: 共同創設者</h5>
          <p>Seekleというサービスを通じて皆様の人生を少しでも豊かにする事が私達のミッションです。</p>
      </div>
    </div>
  </div>
</div>
