
<div class="up-var">
 <div class="upper-menu">
    <div class="wrapper" >
    <ul>
 <li><a href="/company/index">会社概要</a></li>
          <li><a href="/company/philosophy">経営理念</a></li>
          <li><a href="/company/question">よくある質問</a></li>


    </ul>
    </div>
  </div>
  </div>




<div class="company_content">
<h1>Life is too short to not do what you wanna do</h1>
</div>


  <div class="company_explanation">
    <h2>Message</h2>
    <p>Seekleでは、あなたの様々な願いを叶えることのできる地域の人と繋がる場を提供します。</p>
    <ul>
     <li>英語を習いたい ⇄ 留学から帰ってきて英語をもっと使いたい！</li>
     <li>犬の散歩をわざわざ業者に頼むのは気がひける⇄ 動物の散歩ならいつでもできる！ </li>
     <li>開催するお誕生日会をもっと華やかにしたい ⇄ 副業でエンターテイナーとして活動している！ </li>
     <li>引っ越しを手伝って欲しい ⇄ 時間があるので力仕事ならなんでも！</li>
    </ul>
    <p>など、"必要とするサービスのプロバイダー"と"あなたのスキルを必要とする人々"をつなげます。</p>
  </div>


  <div class="company_member">
    <h2>Members</h2>

      <div class="members">

      <div class="member_1">
        <%= image_tag("emi.png", size: "200x200", class: "member_image_1")%>
            <p>森川恵美</p>
            <p>代表</p>
      </div>


  </div>
</div>
