

<div class="company_content">


  <div class="company_explanation">
  <h2>株式会社Seekle</h2>
  </div>




  <div id="1">

   <div class="company-head">
     <h1>About Our Service</h1>
   </div>

   <div class="company_service_mission">
    <h2>お客さま</h2>
    <p>価格・サービスの質・スタッフの対応を全て合わせてどのサービス、店舗がベストなのか。どこに頼めば失敗しないのか。を明確にし、満足のいくサービスを提供します。
     一目で情報がわかるので、いろんなところへ電話して見積もる手間もなく、近くのサービスを簡単に依頼が可能になります。
   </p>
 </div>

 <div class="company_service_mission">
  <h2>サービス提供者の方々</h2>
  <p>独立した方、個人事業者の方をメインに主に集客、口コミ集めなど、Seekleを通してサポートを努め、ホームページを作る必要なく広告塔となり、ビジネスを始めやすい環境を創り、日本のビジネスインフラを整備していきます。</p>
  </div>

</div>




 <div class="about-company">
  <div id="2">
   <div class="company-head">
     <h1>About Our Company</h1>
   </div> 

    <table class="company-table">
     <tbody>
     <tr>
      <td>会社名</td>
      <td>株式会社 Seekle</td>
    </tr>

     <tr>
      <td>設立</td>
      <td>2016/05/27</td>
    </tr>

  <tr>
      <td>所在地</td>
      <td>東京都渋谷区道玄坂2-10-12 新大宗ビル3号館5階531</td>
     </tr>


     <tr>
      <td>資本金</td>
      <td>1万円</td>
    </tr>

     <tr>
      <td>事業内容</td>
      <td>オンラインサービスプラットフォームの開発と運営</td>
    </tr>

     <tr>
      <td>代表者</td>
      <td>森川 恵美</td>
    </tr>


   
    </tbody>
</table>


  </div>
</div>


  <div id="3">

   <div class="company-head">
     <h1>Recruit</h1>
   </div>

   <div class="company_service_mission">
    <h2>始まったばかりのサービスを一緒に伸ばしていくメンバーを募集！</h2>
    <p>会社にいるのは現在代表の私だけです。ご興味がある方は
<%= mail_to 'seekle.info@gmail.com', 'こちらのアドレス',  :subject => '【Seekleメンバー募集】へのお問い合わせ' %>までご連絡お願いします
   </p>
 </div>
</div>






<p id="page-top"><a href="#wrap">PAGE TOP</a></p>


 </div>


<script>
$(function() {
    var topBtn = $('#page-top');    
    topBtn.hide();
    //スクロールが100に達したらボタン表示
    $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
            topBtn.fadeIn();
        } else {
            topBtn.fadeOut();
        }
    });
    //スクロールしてトップ
    topBtn.click(function () {
        $('body,html').animate({
            scrollTop: 0
        }, 500);
        return false;
    });
});

</script>
