
<div class="up-var">
 <div class="upper-menu">
    <div class="wrapper" >
    <ul>
 <li><a href="/company/index">会社概要</a></li>
          <li><a href="/company/philosophy">経営理念</a></li>
          <li><a href="/company/question">よくある質問</a></li>


    </ul>
    </div>
  </div>
  </div>




<div class="company_content">

</div>


  <div class="company_explanation">
    <h2>Message</h2>
   
  </div>


  <div class="company_member">
    <h2>Members</h2>

      <div class="members">

      <div class="member_1">
        <%= image_tag("emi.png", size: "200x200", class: "member_image_1")%>
            <p>森川恵美</p>
            <p>代表</p>
      </div>


  </div>
</div>
