
<div class="up-var">
 <div class="upper-menu">
    <div class="wrapper" >
    <ul>
 <li><a href="/company/index">会社概要</a></li>
          <li><a href="/company/philosophy">経営理念</a></li>
          <li><a href="/company/question">よくある質問</a></li>


    </ul>
    </div>
  </div>
  </div>




<div class="philosophy_content">
<h1>経営理念</h1>
</div>


  <div class="philosophy_explanation">
    <h2></h2>


  </div>

</div>

