<div class="full-block jobstyle-row" id="company-row">
  <div class="wrapper">
    <ul>
      <li>会社概要</li>
      <li>経営理念</li>
      <li>ほげ</li>
      <li>よくある質問</li>
    </ul>
  </div>
</div>
<div class="company_content">
  <%= image_tag("company.png", size: "1362x350", id: "company_image", class: "company_header")%>
    <h1>良くある質問<hr>あなたのために全力で。</h1>
  </div>
  <div class="company_question">
    <h2>Q. Seekleって何に使えるの？</h2>
    <h4>A. Seekleはベビーシッター・写真家・メイクアップアーティストなど各種サービスのプロバイダーを仲介するローカルサービスを行うWebサービスです。
      求めているサービスのプロバイダーを簡単に予約することができるようになっている。(例えば、カメラマンに写真を撮って欲しいという要望の場合は登録しているカメラマンと繋げる。パーティーを開く時にDJが欲しい場合はDJと繋げたりなど) 大規模な総合ローカルマッチングサービスです。そして、誰でもプロバイダーとしても簡単に参加することができる。「各種サービスのプロフェッショナルを、Amazon.comで本を購入するくらいプロフェッショナル、顧客を簡単に探して契約する」ことを目標にサービスを展開してます。</h4>
  </div>
</div>
