
<div class="up-var">
 <div class="upper-menu">
    <div class="wrapper" >
    <ul>
 <li><a href="/company/index">会社概要</a></li>
          <li><a href="/company/philosophy">経営理念</a></li>
          <li><a href="/company/question">よくある質問</a></li>



    </ul>
    </div>
  </div>
  </div>





<div class="company_content">
<h1>よくある質問</h1>
</div>



  <div class="company_question">

  <div class="left-menu">
  <ul>
    <li>Seekleについて</li>
    <li>サービス依頼について</li>
    <li>プロバイダーについて</li>
  </ul>

  </div>


<div class="questions-wrapper">

<h1>Seekleについて</h1>
  <div class="question">
    <h2>Q1. Seekleって何ですか？</h2>
    <p>Seekleは各種サービスを提供するプロバイダーとそのサービスを求めるユーザーとが繋がり、簡単に契約することのできる場を提供するマッチングサービスです。
    <br>(例: 英語を習いたい！ ⇄ 留学から帰ってきて教えられる力があるが、使う場所がない)</p>
  </div>

 <div class="question">
    <h2>Q2. 会員登録にお金はかかりますか？</h2>
    <p>会員登録は無料で行っていただきます。年会費用、月額費用等も一切ございません。契約が確定された場合売り上げの3%を手数料としていただきます。</p>
  </div>

   <div class="question">
    <h2>Q3.パスワードを忘れてしまいました。 </h2>
    <p>パスワード再設定よりパスワードの再発行をお願いします。</p>
  </div>

   <div class="question">
    <h2>Q4.電話サポートはありますか。</h2>
    <p>お申込みにあたりご不明な点がございましたら、お気軽に03-6869-5598までお問い合わせください。
また、お問い合わせについては、info@casy.co.jpもしくはお問い合わせフォームでも受付しております。ご連絡をいただければ、出来る限り迅速な回答をいたします。
「サポートにも感動を」をコンセプトにサポートチーム一同、お問い合わせをお待ちしております。</p>
  </div>


  </div>

</div>
