// Media queries breakpoints
$screen-mobile-xs: 375px !default;
$screen-mobile-md: 400px !default;
$screen-mobile: 480px !default;
$screen-phablet: 620px !default;
$screen-tablet: 768px !default;
$screen-desktop: 1024px !default;
$screen-mobile-max: ($screen-mobile - 1) !default;
$screen-tablet-max: ($screen-tablet - 1) !default;
$screen-desktop-max: ($screen-desktop - 1) !default;
$app-container-width: $screen-desktop !default;


/* ipad iphone6+PLUSから大きめのスマホのレスポンシブデザイン */
@media (max-width: $screen-phablet) {

  .content_in_user{
   width:92%;
   margin:0 auto;
 }

 .field {
 margin-top:15px;
    margin-bottom:10px;
}

.field input{
        width:100%;
        height:20%;
padding:7px;
 font-size:20px;
  
}


}



@media (min-width: $screen-tablet) {

  .content_in_user{
   width:50%;
   margin:0 auto;
 margin-bottom: 8%;
  margin-top: 8%;
 }

 .field {
 margin-top:15px;
    margin-bottom:10px;
}

.field input{
        width:100%;
        height:20%;
padding:7px;
 font-size:20px;
  
}


}



/* MAC */
@media screen and (min-width: 800px) {
  .content_in_user{
   text-align: left;
   width:40%;
   margin:0 auto;

 }

.content_in_user a{
   color:#483D8B;
}

.main_content .bootstrap  .content_in_user{
padding-top: 50px;
padding-bottom: 50px;
}
.field {
 margin-top:20px;
    margin-bottom:10px;
}

.field input{
        width:100%;
        height:20%;
padding:7px;
 font-size:20px;
  
}





}
