

.providers_new_post{
        margin-top:6%;
    margin-left:16%;
    margin-bottom: 10%;
}

table.newpost {
    
    
    border-collapse: separate;
    border-spacing: 0px 1px;
}
 
 
table.newpost  td {
padding-top: 26px;
padding-bottom: 26px;
    padding-left:28px;
    vertical-align: middle;
    text-align: left;
 
}


table.newpost tr{
        border-bottom: 1px solid #e6e9e3;
}


.form-label {
    margin-left: 10px;
    font-size: 10px;
    padding: 3px 5px;
}

.providers_new_post .btn{
  margin:4% 27%;
  font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 16px;
    cursor: pointer;
    border: 1px solid #333;
    color: #fff;
    background-color: #FF7F50;
    box-shadow: 2px 2px #808080;
    width: 26%;
    border-radius: 3%;

}












/* ipad iphone6+PLUSから大きめのスマホのレスポンシブデザイン */
@media screen and (max-width: 414px) {



.providers_new_post{

    margin-left:0%;
   
}


.providers_new_post .bootstrap h2{
    font-size: 21px;
}

.providers_new_post .bootstrap .form-control{
    width:100%;
}

.providers_new_post .bootstrap .content-area{
       width:100%;
}

.providers_new_post .bootstrap p{
    font-size: 14px;
}

 
table.newpost  td {

     display: block;
padding-top: 0px;
padding-bottom: 10px;
    padding-left:0px;
 

}


table.newpost tr{
           width:125%;
           border-bottom: none;
}

 table.newpost th {
    display: block;
    border-top: none;
    border-bottom: none;

  }
.providers_new_post .btn {
    margin: 4% 17%;

    width: 55%;

}



}






