

.field input{
    width:610px;
padding:5px;

}


.form-control{

border:0;
padding:10px;
font-size:1.3em;
font-family:Arial, sans-serif;
border:solid 1px #ccc;
margin:0 0 20px;
width:600px;
}


.content-area{

padding:10px;
height: 220px;
font-size:16px;
font-family:Arial, sans-serif;
border:solid 1px #ccc;
margin:0 0 0px;
width:600px;
}


.profilelink{
margin-left: 25px;
padding-bottom: 22px;
}

.list-number{
margin-left: 630px;
margin-top: 50px;
clear:both;
}

.list-number-2{
  margin-left: 630px;
margin-top: 50px;
}

 .panel-heading {
 color:   #FFEFD5;
 }
