

.content-area{
border:0;
padding:10px;
height: 220px;
font-size:1.3em;
font-family:Arial, sans-serif;
border:solid 1px #ccc;
margin:0 0 0px;
width:600px;
}

.profilelink{
margin-left: 25px;
padding-bottom: 22px;
}

.list-number{
margin-left: 42%;
margin-top: 50px;
margin-bottom: 50px;
clear:both;
}

.list-number-2{
  margin-left: 300px;
margin-top: 50px;
clear:both;

}

 .panel-heading {
 color:   #FFEFD5;
 }








.upper-menu-list{
  background-color: gray;
}


.setting-heading p{
font-weight: bold;
padding-left: 10px;
padding-top: 20px;
}

.setting-heading{
  width:270px;
float:left;
height:800px;
background-color:   #F5F5F5;
}

.setting-heading ul li{
  font-size:20px;
  margin-bottom: 20px;
  color:gray;
}



.setting-left-heading{
    width:270px;
float:left;
height:910px;
background-color:   #F5F5F5;
}



.setting-left-heading p{
font-weight: bold;
padding-left: 10px;
padding-top: 20px;
}



.setting-left-heading ul li{
  font-size:20px;
  margin-bottom: 20px;
  color:gray;
}




.setting-wrapper{
  margin-top: 40px;
margin-bottom: 100px;
  float:left;
  margin-left:130px;
}

.customize-setting h2  {
 margin-top: 30px;
margin-left: -3px;
 font-weight: normal;
}
 .customize-setting p{

  margin-top: -10px;

}

.service-title{
border:0;
padding:10px;
font-size:1.3em;
font-family:Arial, sans-serif;
border:solid 1px #ccc;
margin:0 0 20px;
width:600px;
}

.step-pane{
  width:700px;
  margin-left: 40px;
}

.wizard{
   width:940px;
}



.fuelux .wizard .step-content {
  background-color: white;
}

.profile_field{
  height:100px;
  width:600px;
}




.fa-chevron-left{
  margin-right: 10px;
}

.fa-chevron-right{
  margin-left: 10px;
}


.service_text{
line-height:8px;
}


.required {
    background-color: #FFDDD0;
    color: #F33;
    border-radius: 3px;
}

.optional {
    background-color: #E5E5E5;
    color: #898989;
      border-radius: 3px;
}


.service_explain{height:0 auto;width:73%; margin-left:14%;margin-bottom:15px;margin-top:20px;float:left;}
.service_explain h3{margin-left:750px;margin-top:60px;}
.service_explain h1{font-weight: normal;font-size: 22px;margin-bottom: -20px;}



