.listing_wrapper{
	    padding-top: 18px;
	    padding-bottom: 18px;
	width:100%;
	margin-left:0%;
}
.listing_wrapper h1{
width:100%;
float:left;
font-size: 27px;
margin-bottom: 30px;
	font-weight: 500; 
	 line-height: 1.3em; 
}
.listing_wrapper .bootstrap{
	margin-top: 120px;
	float:right;
}

.listing_wrapper .bootstrap .btn{
	font-size: 24px;
}

.listing_title{
width:100%;
float:left;

}


.service_image{
   float:left;
   clear:both;
   width:28%;
   height:170px;
}




li.listing{
border-bottom: 1px solid gray;
clear:both;
height:270px;

}

.listing h3{
	float:left;
}


.listing h4{
	float:left;
	padding-left: 10px;
}

.listing p{

	float:left;
	padding-left: 10px;
}




/* ipad iphone4と5のレスポンシブデザイン */
@media screen and (min-width: 320px) and (max-width: 374px){

.listing_wrapper{
	width:95%;
	margin-left:3%;
}


.listing_wrapper h1{

margin-bottom: 5px;
 
}


.listing h4{
	padding-left: 5px;
	font-size: 14px;
}

.service_image{
   
   width:42%;
   height:120px;
}

.listing_wrapper .bootstrap{
	margin-top: 35px;
	float:right;
}
.listing_wrapper .bootstrap .btn{
	font-size: 10px;
}


}





/* iphone6 のレスポンシブデザイン */
@media (min-width: 375px)  {


.listing_wrapper{
	width:95%;
	margin-left:3%;
}



.listing h4{
	float:left;
	padding-left: 10px;
}


.listing_wrapper h1{

margin-bottom: 10px;
 
}
.service_image{
   
   width:45%;
   height:150px;
}

.listing_wrapper .bootstrap{
	margin-top: 58px;
	float:right;
}
.listing_wrapper .bootstrap .btn{
	font-size: 11px;
}


}






/* iphone6 plusのレスポンシブデザイン */
@media (min-width: 414px) {



.service_image{
   width:45%;
   height:160px;
}

.listing_wrapper .bootstrap{
	margin-top: 62px;
}
.listing_wrapper .bootstrap .btn{
	font-size: 13px;
}


}









/* MAC */
@media screen and (min-width: 800px) {

.listing_wrapper{
	    padding-top: 18px;
	    padding-bottom: 18px;
	width:100%;
	margin-left:0%;
}
.listing_wrapper h1{
width:100%;
float:left;
font-size: 27px;
margin-bottom: 30px;
	font-weight: 500; 
	 line-height: 1.3em; 
}
.listing_wrapper .bootstrap{
	margin-top: 120px;
	float:right;
}

.listing_wrapper .bootstrap .btn{
	font-size: 24px;
}

.listing_title{
width:100%;
float:left;

}


.service_image{
   float:left;
   clear:both;
   width:28%;
   height:170px;
}


}









