
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_modernizr
 *= require_self

 *= require jquery-ui
*/


.upper-menu-list{
  background-color: gray;
}


.setting-heading p{
font-weight: bold;
padding-left: 10px;
padding-top: 20px;
}

.setting-heading{
  width:270px;
float:left;
height:800px;
background-color:   #F5F5F5;
}

.setting-heading ul li{
  font-size:20px;
  margin-bottom: 20px;
  color:gray;
}



.setting-left-heading{
    width:270px;
float:left;
height:910px;
background-color:   #F5F5F5;
}



.setting-left-heading p{
font-weight: bold;
padding-left: 10px;
padding-top: 20px;
}



.setting-left-heading ul li{
  font-size:20px;
  margin-bottom: 20px;
  color:gray;
}




.setting-wrapper{
  margin-top: 40px;
margin-bottom: 100px;
  float:left;
  margin-left:130px;
}

.customize-setting h2  {
 margin-top: 30px;
margin-left: -3px;
 font-weight: normal;
}
 .customize-setting p{

  margin-top: -10px;

}

.service-title{
border:0;
padding:10px;
font-size:1.3em;
font-family:Arial, sans-serif;
border:solid 1px #ccc;
margin:0 0 20px;
width:600px;
}

.step-pane{
  width:700px;
  margin-left: 40px;
}

.wizard{
   width:940px;
}



.fuelux .wizard .step-content {
  background-color: white;
}

.profile_field{
  height:100px;
  width:600px;
}




.fa-chevron-left{
  margin-right: 10px;
}

.fa-chevron-right{
  margin-left: 10px;
}
