
 .genre{
 	margin-top:20px;
 	width:100%;
 	height:40px;
 	border-bottom:1px solid #F5F5F5
 }

.genre p{
	padding-left:20px;
	font-size:14px
}

.published_service_wrapper{
	margin-top: 0%;
	width:100%;
	margin-left:0%;
}

.notes_count{
float:right;
}

 .left-other-housing{
 	float:left;

 	height:0 auto;
    width:22%;

 }

 .left-other-housing h2{
 	background-color: #FAEBD7;
 	padding:8px;
 }

.services_right_wrapper{
    width:99%; 
 }

.other-jobs-menu{
  padding: 6px;
  font-size: 15px;
  line-height:28px;
  background-color:#FFFFFF;
 }

 .other-jobs-menu li{
 	color:#4682B4;
 	text-align:left;
 }

 .create_requirement{
 	margin-top:10px;
 	margin-left:32px
 }

 .provider_service_image{
clear:both;
 	width:27%;
 	height:150px;
 	float:left;
 	padding-top:0px;
 	}

.provider_service_image:hover{
	opacity:0.8;
}


 .provider_job{
 	height:230px;

 	border-bottom:1px solid #C0C0C0;
 	width:74%;
 	position:relative;
 	margin-top:10px;
 	margin-bottom:0px;
 	margin-left: 25px;
 	float:right;	
 }


.provider_image{
	border-radius:100%;
	float:left
}

.provider_job h3{

	float:right;
}

.provider_job p{
	font-size:13px;
	line-height:10px;
	text-align:center
}


.service_catchcopy_top{
width:70%;
margin-left: 30%;
}

.service_catchcopy_top p{
	text-align: left;
	margin-left: 0px;
}


.store_name_left{

width:70%;
margin-left: 30%;

}


.store_name_left p{
	text-align: left;
	margin-left: 0px;
	font-size: 17px;
}

.title h2{
	margin-bottom:10px;
	font-size:18px;
}

.provider_image{
	height:74px;
	width:74px;
	margin-left:140px;
	margin-top:58px
}

.show_providers{
	margin-top: 5%;
	margin-bottom:90px;

}

.service-price h3{
	font-weight:1px;
	color:#B22222;
}


.check_service_btn{
	color:white;
	float:right;
	display: block;
	font-size: 20px;
	font-weight: 700;
	padding: 5px;
	border: 1px solid #333;
	color: #fff;
	border-radius: 3px;
	background-color: 		#4169E1;
	box-shadow: 2px 2px #555;
	width: 26%;
	text-align: center;
	position: absolute;
	right: 0;
	bottom: 0;
	margin-bottom: 24px;

}

.check_service_btn:active{
 	  box-shadow: none;
 	  margin-top: 8px;
}

.service-price span{
	font-size: 70%;
	padding-left: 4px;
	padding-right: 4px;
}

.footer-bottom{
	clear:both
}




/* ipad iphone6+PLUSから大きめのスマホのレスポンシブデザイン */
@media screen and (max-width: 414px) {

 .left-other-housing{
 	display:none;
 }
.published_service_wrapper{
	width:97%;
	margin:0 auto;
}

.title h2{
	font-size: 14px;
}

  .services_right_wrapper{
    width:100%;

    margin-left: 0px;
 }

.service-price h3{

	color:#B22222;

}



.service_catchcopy_top{
display:none;
}

 .provider_job{
 	
 	height:200px;
 margin-left: 3%;
 	width:100%;
 	position:relative;
 	margin-bottom:1px;
 	border-radius: 0px;
 }
 
.provider_service_image{
 	border-radius:0px;

 	height:80%;
 	float:left;
 	padding:0px;
 	}



.list-number-2{
  margin-left: 26%;
margin-top: 10%;
clear:both;

}


.check_service_btn{
	color:white;
	float:right;
	display: block;
	font-size: 17px;
	font-weight: 700;
	padding: 5px;
	border: 1px solid #333;
	color: #fff;
	border-radius: 3px;
	background-color: 		#4169E1;
	box-shadow: 2px 2px #555;
	width: 36%;
	text-align: center;
	position: absolute;
	right: 0;
	bottom: 0;
	margin-bottom: 20px;

}



 
}



