
<div class="wrapper">
    <h1 class="title-wrapper choose-account">
        さっそく無料でかんたん新規登録！
    </h1>
</div>

<div class="wrapper choose-account-wrapper">
    <div class="dynamic-row">

                <div class="box service-pro-account">
            <h2>
                ビジネスを始めたい
            </h2>
            <p class="account-description">
                プロバイダーとしてあなたのビジネスを提供しよう。
            </p>
            <a class="bttn blue create-accout-bttn" href="/pro">
                Sign Up
            </a>
        </div>

                <h3 class="or choose-account">
            or
        </h3>

                <div class="box standard-account">
            <h2>
                プロバイダーにお願いしたい
            </h2>
            <p class="account-description">
                様々なジャンルからぴったりを見つけよう。
            </p>
            <a class="bttn blue create-accout-bttn" href="/register">
                Sign Up
            </a>
        </div>

    </div>
</div>

<div class="login-wrapper">
    <div class="bottom-link-wrapper">
        すでにアカウントをお持ちですか？
        <a href="/login">
            ログイン
        </a>
    </div>
</div>