.reservation_history_wrapper {
    padding-top: 18px;
    width: 100%;

}

.reservation_history_wrapper h1 {
    float: left;
    font-weight: 500;
    line-height: 1.3em;

    font-size: 27px;
}





.reservation_history_wrapper h3 {
    padding-top: 40px;
    width: 100%;


}



/* ipad iphone6+PLUSから大きめのスマホのレスポンシブデザイン */
@media screen and (max-width: 414px) {



}





/* ipad iphone6+PLUSから大きめのスマホのレスポンシブデザイン */
@media screen and (max-width: 414px) {

.reservation_history_wrapper{

 width:81%;
    margin-left:9%;
     margin-top:0%;
}

.reservation_history_wrapper h1 {

    margin-left: 0px; 
     font-size: 20px;

}



.customer_reservations_wrapper p{
  line-height: 22px;

}

.reservation_info {
        width:100%;
  margin-top: 18%;
clear:both;


    border-bottom: 1px solid #808080;
    margin-left: 0px;
}

.reservation_history_wrapper .bootstrap .btn-default {
   float:right;
   clear:both;
        margin-bottom: 8%;
}

}






/* ipad タブレットのレスポンシブデザイン */
@media (min-width: 767px) {



}




/* MAC */
@media screen and (min-width: 800px) {
    .reservation_history_wrapper {
    padding-top: 18px;
        margin-left:0%;
width: 100%;
}


.reservation_history_wrapper h1 {
    float: left;
      font-weight: 500;
    line-height: 1.3em;
    width: 100%;
    font-size: 27px;
}

.customer_reservations_wrapper p{
    

    padding: 0%;
    border-radius: 4px;
    background-color: #FFFAF0;
    margin-top: 0%;
  
}

.customer_reservations_wrapper {
       margin-top: 9%;
        width: 100%;
}


.reservation_info {
margin-bottom: 30px;
    width:97%;
padding: 1%;
    border-radius: 4px;
    background-color: #FFFAF0;

    border: 1px solid #808080;

}
.reservation_history_wrapper .bootstrap .btn-default {
margin-bottom: 0px;
margin-left: 80%;
}
 .reservation_history_wrapper h3{
    font-size: 16px;
clear:both;
}



}






