
<% provide :title, "はじめての方へ" %> 


<div class="guide-wrapper">
<div class="main-container">
  
  <div class="seekle_explain_wrapper">

	<h1>
		シークルは<span class="safe">安心</span>できるサービス選びを応援するサイトです。
		</h1>
		<p>
		ハウスクリーニングから写真撮影、パーソナルトレーニングまで、シークルはあらゆるサービスを安心と共に提供します。</p>
		<%= image_tag('track.jpg',class: 'track_icon') %>

</div>

<h2>	<%= image_tag('slash1.jpg',class: 'slash_right') %>シークルではこんなお悩み解決します！<%= image_tag('slash2.jpg',class: 'slash_left') %></h2>

	<div class="guide_title">

		<div class="guide-explain-wrapper">

		

		<p><i class="fa fa-check-square-o" aria-hidden="true"></i> 格安な業者ってたまにあるけど、本当に信頼して頼んでもいいのかな。。？</p>
		<p><i class="fa fa-check-square-o" aria-hidden="true"></i> 習い事を習いに行きたいけど、実際に講師の人ってどんな方なんだろう。。</p>
		<p><i class="fa fa-check-square-o" aria-hidden="true"></i>いつも同じところに頼んでいるけど、近くに他のもっと安い店舗ってあるかな</p>
		<p><i class="fa fa-check-square-o" aria-hidden="true"></i>とにかく今このサービスが必要なんだけど、結局ベストなとこってどこ？</p>

	</div>
	</div>

<%= image_tag('arrow.jpg',class: "arrow-down") %>


<div class="seekle_solutions_wrapper">

<ul class="solution_wrapper">

	<li>
	  <h2>口コミであんしん！</h2>
	  <p>他の利用者の方からの。口コミを見ることができます。口コミから当日どんな様子なのか分かるようになります。（是非口コミ投稿にご協力ください！）</p>
	</li>
	<li>
	 <h2>事前情報をチェック！</h2>
	 <p>シークルでは各店舗のプロフィールを見ることができます。また、質問・相談等があれば事前に店舗にお問い合わせすることも可能です。</p>
	</li>
</ul>


<ul class="solution_wrapper">

	<li>
	  <h2>お近くの住まいから検索！</h2>
	  <p>今後、お近くの住所から店舗を検索することが可能になります。こんな近くにこんな良いところあったんだ！と発見することができるようになります。</p>
	</li>
	<li>
	  <h2>ぴったりなサービスが見つかる！</h2>
	  <p>シークルでは口コミ、料金、店舗プロフィールなど様々な情報からそれぞれの人が求めるニーズに合わせた安心して依頼できるサービスを提供します。</p>
	</li>
</ul>


	</div>
	</div>


</div>



<div class="explain_reservations_step">

<div class="explain_reservations_step_wrapper">

 <h2>ご利用方法</h2>

<ul class="step">
<li>
<h3>1.比べる</h3>
<p>口コミ、雰囲気、料金などの情報からぴったりのサービスを見つけましょう！</p>
</li>
<li>
<h3>2.仮予約する</h3>
<p>仮予約フォームにご依頼内容をご記入ください。店舗から詳細のお返事が返ってきます。</p>
</li>

<li>
<h3>3.予約確定</h3>
<p>日時の調整や質問などは、マイページのメッセージ機能を使います。 
事前に必要な情報を伝えておくことで、当日もスムーズな対応をしてもらうことができます。</p>
</li>

<li>
<h3>4.当日！</h3>
<p>サービス当日何か困ったことがあればシークルにお気軽にお問い合わせください！</p>
</li>

</ul>
</div>
</div>
