.company_header, .company_explanation, .company_member, .company_philosophy{
  background-color: #F5F5F5;
  width: 50%;
  min-height: 500px;
  margin: auto;
  margin-bottom: 10px;
    strong{
    font-size: 18px;
    }
  h2{
    padding-top: 30px;
    padding-left: 30px;
    font-size: 20px;
  }
  p{
    margin: 60px;
    margin-top: 0px;
  }
  .member_1, .member_2{
    float: left;
    height: auto;
    width: 200px;
    margin-top: 50px;
    margin-left: 15%;
    text-align: center;
    .member_image_1, .member_image_2{
      background-color: white;
      width: 200px;
      height: 200px;
      border-radius: 100px;
    }
    .member_explanation{
      h3{
        text-align: center;
        margin-bottom: 0px;
        margin-top: 20px;
      }
      h5, p{
        text-align: left;
        margin: 0;
        font-size: 15px;
        line-height: 150%;
      }
      h5{
        margin-top: 10px;
      }
      p{
        width: 200px;
        word-wrap:break-word;
      }
    }
  }
}

.company_explanation{
  height: auto;
  padding-bottom: 30px;
}

#company_image{
  width: 100%;
}

.company_content h1{
  position: absolute;
  top: 400px;
  left: 60%;
  color: white;
  font-size: 50px;
  hr{
    margin-top: 3px;
    margin-bottom: 10px;
  }
}

#company_philosophy_header{
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 1px;
  #title{
    color: white;
    top: 400px;
    left: 40%;
  }
  #subtitle{
    color:  #DC143C;
    top: 450px;
    left: 40%;
  }
}

.company_philosophy h2{
    margin-left: 30px;
}
