

html {
    overflow: auto;
}
body {
    overflow: hidden;
    position: relative;
    margin: 0px;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #1f89e2;
}

a:hover {
  text-decoration: underline;
  color: #1b7ccd;
}

.container {

    margin: 0px auto;
}

/* フォント ================================ */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 32px;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 20px;
  letter-spacing: -1px;
}

p {
  font-size: 16px;
  line-height: 40px;
}

/* ヘッダー ================================ */
header {
   height: 57px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.901961);
    position: fixed;
    top: 0px;
    z-index: 10;
  text-decoration:none;
    padding:1px;

    }




.logo a{
  float: left;
  font-size: 27px;
  color: #fff;
  padding: 12px 50px;
  letter-spacing: -1px;
  margin-left:-40px;
  font-weight: bold;
  text-decoration:none;

}


.logo a:hover {
  color: #fff;
text-decoration:none;
}

@media screen and  ( max-width:640px )
{
  /* ボディ */
  .logo a
  {
    font-size: 24px ;
    margin-left:-70px;/* 文字サイズ */
  }
}









.header-right {
  float: right;
  margin: 0 auto;
  text-decoration:none;
}

.header-right a {
  color: white;
  display: block;
 text-decoration:none;
}
.header-right a:hover{
  color: rgba(255,255,255,0.5);
text-decoration:none;
}

.header-right li {
  line-height: 65px;
  padding: 0 25px;
  float: left;
  color: white;
}

@media screen and  ( max-width:640px )
{
  /* ボディ */
  .header-right a{
    font-size: 10px ;
    margin-top:-60px;
    float:right;


  }

  .header-right li{
    padding-right: 90px;


  }
}

@media screen and (min-device-width:320px)
              and (max-device-width:568px)
{
  .header-right a{
    font-size: 10px ;
    margin-top:-60px;


  }

  .header-right li{
    padding-right: 50px;


  }
}






/* フッター ================================ */



.footer {
    padding-top: 0px;
}

.footer-top {
border-top: 1px solid rgb(238, 238, 238);
    background-color:#FFFFFF;
    color: black;
    clear: both;
    height: 260px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    margin: auto;
}

@media screen and  ( max-width:640px )
{
  .footer-top{
    height:400px;

  }

  .column-menu
  {
    font-size:9px;
    margin-right: 22px;
    clear:both;
  }
}




.row {
    margin-right: -30px;
    margin-left: -20px;
}
.footer p {
    color: rgb(179, 174, 181);
    font-size: 12px;
}
.col-sm-3 ul li:hover{
  color:  #D3D3D3;
}



.fa {
    margin-right: 5px;
}
.footer-bottom {
    background-color: rgba(34, 49, 52, 0.901961);
    font-size: 0.8125em;
    padding: 5px 0px;

}



.column-menu a{
    cursor: pointer;
    margin: 1px;
    color:#fff;
}
.column-menu ul {
    color: white;
    margin: 0px;
    padding: 0px;
}
.column-menu li {
    display: inline-block;
    margin: 10px;

}

.column-menu ul li:hover{
  color: rgba(255,255,255,0.5);
}
.column-menu ul li a:hover{
text-decoration: none;
 color: rgba(255,255,255,0.5);
}

.copy-right {
    width: 100%;
    clear: both;
    text-align: center;
    margin-top: 12.5px;
    color: rgb(130, 136, 138);
    font-size: 12px;
    padding-bottom: 9px;
}




