
*{
  font-family:'ヒラギノ丸ゴ Pro W4','Hiragino Maru Gothic Pro';
}



.header_content{
  max-width:970px;
     margin: 0 auto;

    position: relative;
}


.header-right {
  float: right;
padding-left:110px; 
}

.header-right a {
  color: gray;
  display: block;
  text-decoration:none;
}
.header-right a:hover{
  color:  #DCDCDC;
  text-decoration:none;
}

.header-right li {
  line-height: 65px;
padding-right:10px; 
padding-left:40px; 
  float: left;
}



html{overflow:auto}body{overflow:hidden;position:relative;margin:0}li,ul{list-style-type:none;margin:0}a{color:gray}a:hover{color:#1b7ccd}.main_content{padding-top:57px;margin:0 auto}

h1{font-size:32px;letter-spacing:-2px;margin-bottom:0px;}


  h2{
    font-size:20px
    }
p{
  font-size:16px;
  line-height:40px
}

header{
  width:100%;
  position:absolute;
  top:0;
  z-index:10;
  cursor:pointer}

.logo{
    height:67px;
  float:left;
padding-right: 10px;
  }


.logo_2{
     height:67px;
  float:left;
 }


.provider-header{
  text-decoration:none
}
.provider-header{
  height:69.6px;
  width:100%; 
  background-color:#6495ED; 
  position:absolute;
  top:0;z-index:10;
  padding:1px;
  cursor:pointer
}




@media screen and  ( max-width:768px )
{
  /* ボディ */
  header
  {
    margin: 0 10px 0;
    width:100%;
  }

  .logo{
   
    height:56px;
  }
}







@media screen and  ( max-width:640px )
{
  /* ボディ */
  .header-right a{
    font-size: 10px ;
    margin-top:-60px;

    float:right;
  }

  .header-right li{
    padding-right: 90px;
  }
}



@media screen and (min-device-width:320px)
and (max-device-width:568px)
{
  .header-right a{
    font-size: 10px ;
    margin-top:-60px;
  }

  .header-right li{
    padding-right: 50px;
  }
}

}

.header-right li{
  padding-right: 50px;
}
}



/* フッター ================================ */



.footer {
  position: absolute;
  padding-top: 0px;
}


.footer-top {

  border-top: 1px solid rgb(238, 238, 238);
  clear: both;
  height: 250px;
  width: 100%;

  text-align: center;
  padding-top: 20px;

}

.footer_content{
  width: 100%;
    margin-left: 0%;
    float:left;
      clear: both;
}


.col-sm-3 {
  float: left;
margin-right: 50px;
  cursor: pointer;
  transition: all 0.5s;
}
.col-sm-3 ul li {
  list-style: none;
  margin: 14px 0px;
  font-size:15px;
  text-align: left;
}

.col-sm-3 ul li:hover{
  color:  #D3D3D3;
}

.col-sm-4{
  float: left;
  cursor: pointer;

  margin-left: 100px;
}


.footer-bottom {
  height:42px;
  background-color: rgba(34, 49, 52, 0.901961);
  font-size: 0.8125em;
  padding: 5px 0px;

}


.column-menu a{cursor:pointer;color:#fff}.column-menu ul{color:#fff}.column-menu ul li a:hover,.column-menu ul li:hover{color:rgba(255,255,255,.5)}.column-menu li{display:inline-block;margin:10px}.column-menu ul li a:hover{text-decoration:none}

.widget-title{margin-left:0px;text-align:left;}
#social-icon i,#social-icon i:before{line-height:50px}#social-icon i,.actions p,.copy-right,.dropmenu li{text-align:center}
.dropmenu li a,.widget-details li a{text-decoration:none}  .dropmenu li a:hover{font-size: 20px;} 


.widget-menu{
  cursor:pointer;
  width:78%;
  margin-left: 13%;
}
.widget-menu a{color:#F5F5F5}
.widget-menu a:hover{color:#D3D3D3}
.widget-menu li{display:inline-block;margin:10px}
.copy-right{width:100%;clear:both;margin-top:12.5px;color:#82888a;font-size:12px;padding-bottom:9px}#social-icon a{display:block;float:left;margin:80px 5px 5px 0;padding:0;color:#fff}

#social-icon i{width:50px;height:50px}
#social-icon .fa-twitter{background:#00a1e9}
#social-icon .fa-facebook{background:#3b5998}
#social-icon .fa-instagram{background:#9b6954}
#social-icon .fa-pinterest{background:#fb3958}
.field input{font-size:19px}

#user_remember_me{width:0}





.log_button{
  border-radius:5px;
  width:100%;
  font-size:15px;
 
  padding-top:15px;
  padding-bottom:15px
}

.store_login_btn{
float:right;
}

#face{
  background-color:#3b5998
}
#face:hover{
  background-color:#6495ED
}
#login,#sign{
  background-color:coral;
  margin-top:10px;
  margin-bottom:0
}
#login:hover,#sign:hover{
  background-color:#FFA07A
}
.actions p{
  height:20px;
  margin-top:0
}


hr{
    margin:10px 0 0;
    width:100%
  }
#sign{
  margin-bottom:18px
}


.dropmenu:after,.dropmenu:before{content:"";display:table}
.dropmenu:after{clear:both}
.dropmenu li{position:relative;width:20%;float:left}
.dropmenu li a{display:block;padding:15px 0 11px;color:#000;font-size:16px}


