.title-wrapper {
     margin-top: 140px;
    text-align: center;
    font-size: 28px;
    letter-spacing: -.01em;
}
.choose-account-wrapper, .login-wrapper, .reset-password-wrapper, .signup-wrapper {
    margin: 0 auto;
    padding: 30px 40px 2px;
    text-align: center;
}
.choose-account-wrapper .box.service-pro-account, .choose-account-wrapper .box.standard-account {
    padding: 40px;
    float: left;
    clear: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.choose-account-wrapper .box.service-pro-account {
    background: url(https://pixabay.com/static/uploads/photo/2015/05/31/11/47/makeup-791303_960_720.jpg) center #000;
    color: #FFF;
   
    webkit-background-size: cover;
     
    background-size: cover;
}

.choose-account-wrapper .box.service-pro-account h2, .choose-account-wrapper .box.standard-account h2 {
    font-size: 28px;
    line-height: 35.99px;
    letter-spacing: -.01em;
    font-weight: 400;
}

.wrapper {
    width: 950px;
    margin-top: 0 auto;
    position: relative;
    padding-bottom:10px;
}
user agent stylesheetdiv {
    display: block;
}

.or {
    padding: 100px 10px;
    color: #aeaeae;
    float:left;

}
.dynamic-row {
    display: block;
    width: 100%;
}

.box.standard-account {
    background: #FFF;
    border: 1px solid #e6e6e6;
}
.box.standard-account {
    padding: 40px;
    float: left;
    clear: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.bttn.blue {
    color: #FFF;
    border: 1px solid #1070de;
    }

.bttn {
   margin-top: 30px;
    width: 100%;
    background-color:blue;
    display: block;
    line-height: 22px;
    padding: 9px 20px;
    font-size: 18px;
    display: inline-block;
    box-sizing: border-box;
    transition-property: all;
transition-duration: .1s;
transition-delay: 0s;
-webkit-border-radius: 4px;
}

.login-wrapper{
float:left;
  padding-bottom:130px;
}