
/* ブレイクポイントが1000px以下の時のメディアクエリを設定してください*/
@media (max-width: 1050px) {
  /* lessonクラスのwidthを50%に変更し、margin-bottom: 50px;を追加してください */
  .lesson{
    width:50%;
    margin-bottom:50px;
  }
  
.column-menu{
  display:none;
}

.Seekle_heading{

}

.dropmenu{
  display:none;
}

.header-right {
  display: none;
}

.btn .btn-lg .btn-primary{
  display: none;
}

.footer{
  display: none;
}


.footer-bottom{
  display: none;
}

.lesson-wrapper{
  display:none;
}

.join-button{
  display: none;
}


}





@media only screen and  ( max-width:640px )
{
  .body{
    position: relative;
  }
  /* ボディ */
  .background-image
  {
    float:left;
  }

.message-wrapper{

  width:80%;
  padding-left: 38px;
}

.explain-seekle-wrapper{
  margin-bottom: 110px;
  width:80%;
  padding-left: 45px;
}





@media screen and  ( max-width:640px )
{
  .lesson-wrapper{
    height:1130px;

  }
  .images{
    padding-top: 10%;

  }

  .first {
  clear:both;
  padding-left: 12%;
    }

.how-works-explain{
  width: 300px;
  padding-bottom: 20px;
}

}


@media screen and (min-width: 320px) and (max-width: 374px)
{
.first{
padding-left:0px;
}
}



@media screen and  ( max-width:640px )
{

  .reasons {
    font-size:60%;
    clear:both;
    padding-top: 20px;
    padding-right:21px;

  }
  .reason  {
    display: inline-block;
    font-size: 10px;
     line-height:14px;
      width:110%;

  }

  .about-seekle-wrapper{
    height:750px;

 }


}



@media screen and (max-width:479px)
{

.about-seekle-wrapper{
    height:900px;

 }
}




@media screen and  ( max-width:640px )
{

  .wrapper{
   width:auto;
  position:relative;
  margin-left:-22px;
    max-width:640px;
  }

  .explain-seekle-wrapper p{
    font-size:14px;
    text-align: left;
  }

}


@media only screen and  ( max-width:640px )
{
  .body{
    position: relative;
  }
  /* ボディ */
  .background-image
  {
    float:left;
  }

}

