
/* ブレイクポイントが1000px以下の時のメディアクエリを設定してください*/
@media (max-width: 1050px) {
  /* lessonクラスのwidthを50%に変更し、margin-bottom: 50px;を追加してください */
  .lesson{
    width:100%;
    margin-bottom:50px;
  }
    .web-menu-var{
    display: none;
  }
  
.column-menu{
  display:none;
}

.Seekle_heading{

}

.dropmenu{

}

.header-right {
  display: none;
}

.btn .btn-lg .btn-primary{
  display: none;
}

.footer{
  display: none;
}


.footer-bottom{
  display: none;
}

.lesson-wrapper{
  display:none;
}

.join-button{
  display: none;
}


}





@media only screen and  ( max-width:414px )
{
  .body{
    position: relative;
  }
  /* ボディ */
  .background-image
  {
    float:left;
  }

.message-wrapper{

  width:90%;
  padding-left: 4%;
}

.explain-seekle-wrapper{
  margin-top: 0px;
  width:100%;
  padding-left: 0px;
}

  .lesson-wrapper{
    height:1130px;

  }
  .images{
    padding-top: 10%;

  }

  .first {
  clear:both;
  padding-left: 12%;
    }

.how-works-explain{
  width: 300px;
  padding-bottom: 20px;
}

.reason p{

  width:100%;

}

}



@media screen and  ( max-width:414px )
{

  .reasons {
    font-size:60%;
    clear:both;
    padding-top: 10px;
    padding-right:0px;

  }
  .reason  {
    display: inline-block;
    font-size: 10px;
     line-height:14px;
      width:100%;

  }

  .about-seekle-wrapper{
    height:900px;

 }

  .wrapper{
   width:auto;
  position:relative;
  margin-left:0px;
    max-width:640px;
  }

  .explain-seekle-wrapper p{
    font-size:14px;
    text-align: center;
  }


}





@media only screen and  ( max-width:414px )
{
  .body{
    position: relative;
  }
  /* ボディ */
  .background-image
  {
    float:left;
  }

}





/* ipad iphone4と5のレスポンシブデザイン */
@media screen and (min-width: 320px) and (max-width: 374px){


#scroll-menu {
    height: 56px;/*メニューの縦幅*/
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

#scroll-menu a {
    display: block;
    height: 100%;
    font-size: 70%;
    font-weight: bold;
    text-decoration: none;
    line-height: 40px;/*メニューの縦幅*/
}

#scroll-menu .scroll-menu-inner {

    width: 1000px;/*メニューの横幅*/
    height: 100%;
    margin-left: -30px;
    text-align: center;
}

#scroll-menu li {
  margin-top: -4px;
    float: left;
    font-size: 25px;
    width: 13%;
    height: 100%;
        margin-left: 0px;
}



}






/* ipad iphone6のレスポンシブデザイン */
@media (min-width: 375px) 
{

#scroll-menu {
    height: 65px;/*メニューの縦幅*/

    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}
#scroll-menu a {
    display: block;
    height: 100%;
    font-size: 70%;
    font-weight: bold;
    text-decoration: none;
    line-height: 40px;/*メニューの縦幅*/
}
#scroll-menu .scroll-menu-inner {

    width: 980px;/*メニューの横幅*/
    height: 100%;
    margin-left: -30px;
    text-align: center;
}
#scroll-menu li {
    float: left;
    font-size: 26px;
    width: 14%;
    height: 100%;
        margin-left: 0px;
}



}


@media screen and  ( min-width:414px )
{


#scroll-menu {
    height: 63px;/*メニューの縦幅*/

    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}
#scroll-menu a {
    display: block;
    height: 100%;
    font-size: 70%;
    font-weight: bold;
    text-decoration: none;
    line-height: 40px;/*メニューの縦幅*/
}

#scroll-menu .scroll-menu-inner {
    list-style-type: none;
    width: 1000px;/*メニューの横幅*/
    height: 100%;
    margin-left: 6px;
    padding: 0;
    text-align: center;
}
#scroll-menu li {
    float: left;
    font-size: 26px;
    width: 15%;
    height: 100%;
}




}


.responsive-menu-var .dropmenu{

border-top: 1px solid #f5f5f5;
}

.dropmenu{

  width:960px;
  margin:auto
}
.dropmenu:after,.dropmenu:before{content:"";display:table}
.dropmenu:after{clear:both}

/* MAC */
@media screen and (min-width: 800px) {
.responsive-menu-var {
display:none;
}
}




