
<p>Seekleをご利用いただき、誠にありがとうございます。</p>
<p>下記のリンクをクリックしてパスワードを再設定してください。</p>

<p>リンク：<%= link_to 'パスワードを変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>※パスワードの再設定の操作をした憶えがない場合は、本メールは無視していただくか、
Seekleのお問い合わせメールよりお問い合わせください。</p>

お困りのことがありましたら、Seekleまでお気軽にご相談ください。
引き続き、よろしくお願いします。


<br>※このEメールアドレスは配信専用です。このメッセージに返信しないようお願いいたします。
<br>────────────────────────────────
<br>運営会社：株式会社Seekle
<br>
<br>●お問い合せ
<br>seekle.info@gmail.com
<br>────────────────────────────────