.reservation_history_wrapper{width:75%;margin:4% 13%; height:0 auto;}
.reservation_history_wrapper h1{margin-bottom:30px;font-weight:normal;}

.reservation_history_wrapper .bootstrap .panel-body{padding:15px;}