
// Media queries breakpoints
$screen-mobile-xs: 375px !default;
$screen-mobile-md: 400px !default;
$screen-mobile: 480px !default;
$screen-phablet: 620px !default;
$screen-tablet: 768px !default;
$screen-desktop: 1024px !default;
$screen-mobile-max: ($screen-mobile - 1) !default;
$screen-tablet-max: ($screen-tablet - 1) !default;
$screen-desktop-max: ($screen-desktop - 1) !default;
$app-container-width: $screen-desktop !default;



.mypage-all_wrapper{
	padding-top:18px;
margin-left:0%;
	padding-bottom: 60px;
	height:0 auto;
}



.mypage-all_wrapper h1{
	float:left;
margin-bottom: 30px;
	font-weight: 500; 
	 line-height: 1.3em; 
	 width:56%; 
}


.mypage-all_wrapper h3{
	margin-top:50px
} 


.notification_user{
	clear:both;
}

.notification_header{
width: 100%;
border-bottom: 2px solid	#FDF5E6;
}

.notification_user h2{
	padding-left: 9px;
	padding-top: 4px;
	height:36px;
	margin-top: 40px;
	margin-bottom: 0px;
	font-weight: normal;
	background-color: 		#FFE4C4;
}

.notification_content{
	margin-top: 20px;
}

.notification_content p{
	font-size:18px;
}





/* ipad タブレットのレスポンシブデザイン */
@media (max-width: $screen-tablet) {


.mypage-all_wrapper{
width:80%;
margin:0 auto;

}



.mypage-all_wrapper h1{
	float:left;
	

	font-weight: 500; 
	 line-height: 1.3em; 
	 width:100%; 
	 font-size: 20px;
}

.notification_header{
	width:100%;
}


.notification_user{
	clear:both;

}


.notification_user h2{
	padding-left: 13px;
	padding-top: 8px;
	padding-bottom: 4px;
	font-size: 15px;
	height:28px;
	margin-top: 40px;
	margin-bottom: 0px;
	font-weight: normal;
	background-color: 		#FFE4C4;
}



.profile_edit{
display: none;
	}

	.notification_content {
	
	
	}

}

/* ipad タブレットのレスポンシブデザイン */
@media (max-width: $screen-mobile) {

.mypage-all_wrapper{
width:100%;
margin:0 auto;

}
	}






/* MAC */
@media screen and (min-width: 800px) {


.mypage-all_wrapper h1{
		float:left;

	font-weight: 500; 
	 line-height: 1.3em; 
	 width:56%; 
	 font-size: 27px;
	 }
}






