.first-wrapper{
  padding-top:90px;
  margin-left:90px;
  }
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 18px;

}

.form-control {
    display: block;
    width: 40%;
    padding: 7px 12px;
    font-size: 18px;
    line-height: 1;
    color: #555555;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-left:340px;
  
}

input {
  height: auto !important;
font-size: 18px;
margin-left: 500px;

}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
