.first-wrapper{
  padding-top:150px;
  margin-left:40px;
  }
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 18px;

}

.alert{
  color:red;
}

.form-control {
    display: block;
    width: 40%;
    padding: 7px 12px;
    font-size: 18px;
    line-height: 1;
    color: #555555;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-left:340px;
  
}

input {
  height: auto !important;
font-size: 18px;
margin-left: 500px;

}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}




@media screen and  ( max-width:640px )
{
  .email-form {
    margin:0px auto;
    margin-left: -220px
   

  }
   

  }

  @media screen and (min-device-width:320px)
              and (max-device-width:568px)
{
.email-form {
    margin:0px auto;
    margin-left: -300px
   
}
