
.providers_info_show{

width:65%;
    margin-top:6%;
    margin-left:19%;
    margin-bottom: 10%;
}

.providers_info_show h3{
  font-weight: normal;
  padding-left: 10px;
    border-left: solid 3px #6495ED;
    font-size: 16px;
    font-weight: 700;
}



.providers_info_show h2{
    font-weight:normal;
    font-size: 30px;
clear:both;

}



.providerfield{
    background-color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #aaa;
    display: block;
    font-size: 18px;
    height: 60px;
    line-height: 60px;
    margin: 0 0 15px;
    padding: 0 0 0 15px;
    width: 40%;
}


.message_reservetion{margin-top: 4%;}


.provider_join_btn{
    margin-top:10%;
    margin-left:24%;
    margin-bottom:10%;
    font-size:16px;
    font-weight:700;
    text-decoration:none;
    display:block;
    text-align:center;
    padding:9px;
    cursor:pointer;
    border:1px solid #333;
    color:#fff;
    background-color: #FA8072;
    box-shadow:2px 2px #808080;
width:30%; 
border-radius:3%;
 margin-top:2%;
}
.provider_join_btn:active{box-shadow:0 0 ;margin-top:4%; }

.provider_delete_btn{margin-top:10%;margin-left:24%;font-size:16px;font-weight:700;text-decoration:none;display:block;text-align:center;padding:9px;cursor:pointer;border:1px solid #333;color:#fff;background-color: #A52A2A
;box-shadow:2px 2px #808080;width:30%; border-radius:3%; margin-top:2%;}
.provider_delete_btn:active{box-shadow:0 0 ;margin-top:4%; }


.edit-button{margin-left:81%}

.message_reservetion .bootstrap .btn-default{float:left;margin:23px 40px; }




.forgot-password-wrapper h2{
    text-align: center;
}

.forgot-password-wrapper{   
    width: 50% !important;
    min-width: 600px !important;
    padding: 60px 20px !important;
    background-color: #f6f8fa !important;
    border: 1px solid #e3e4e8 !important;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
text-align: center
}

.forgot-password-wrapper p{
  
    line-height:20px;
}
.providers_signup .forgot-password-wrapper .field {
    padding:20px;
}

.providers_signup .forgot-password-wrapper .field input{
    width:70%;
   
}

.forgot-password-wrapper .provider_join_btn{
margin-left: 33%;
}


