.providers_signup{


	margin-top:6%;
	margin-left:25%;
	margin-bottom: 10%;
}

.providers_signup h3{
  font-weight: normal;
  padding-left: 10px;
    border-left: solid 3px #6495ED;
    font-size: 16px;
    font-weight: 700;
}

.providers_signup h2{
	font-weight:normal;
	font-size: 30px;

}

.providerfield{
    background-color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #aaa;
    display: block;
    font-size: 18px;
    height: 60px;
    line-height: 60px;
    margin: 0 0 15px;
    padding: 0 0 0 15px;
    width: 40%;
}

.provider_join_btn{margin-top:10%;margin-left:20%;font-size:16px;font-weight:700;text-decoration:none;display:block;text-align:center;padding:9px;cursor:pointer;border:1px solid #333;color:#fff;background-color:	#FA8072
;box-shadow:2px 2px #808080;width:26%; border-radius:3%; margin-top:2%;}
.provider_join_btn:active{box-shadow:0 0 ;margin-top:4%; }

.provider_delete_btn{margin-top:10%;margin-left:20%;font-size:16px;font-weight:700;text-decoration:none;display:block;text-align:center;padding:9px;cursor:pointer;border:1px solid #333;color:#fff;background-color: #A52A2A
;box-shadow:2px 2px #808080;width:26%; border-radius:3%; margin-top:2%;}
.provider_delete_btn:active{box-shadow:0 0 ;margin-top:4%; }



