<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<div class="payment-page">
  <h1>サービスを依頼しよう！</h1>
  <h2>1. まずは、プロバイダーに予約リクエストを送りましょう</h2>

  <h2>2. リクエストが承認されたら、料金の支払いをしましょう</h2>
  <p>※料金のお支払いは全てクレジットカード、前払いで行われます。</br>当日の料金の受け渡しは一切行う必要はありません。</p>

<form action="" method="POST" class="paymethod">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_Zrn0utDEfTBYCBCw6zjC2wrw"
    data-amount="999"
    data-name="Seekle inc."
    data-description="Widget"
    data-image="/images/Seekle_icon-min.png"
    data-locale="auto"
    data-currency="jpy">

  </script>
</form>

 <h2>3. あとは待つだけ！</h2>

  </div>


