<!DOCTYPE html>
<html lang="en">
<head>
  <title>Seekle</title>
   <meta name="viewport" content="width=device-width,initial-scale=1">
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

       <script src="jquery.js"></script>
        <script src="jquery.steps.js"></script>
        <body class="fuelux">

<link href="//www.fuelcdn.com/fuelux/3.13.0/css/fuelux.min.css" rel="stylesheet">
        <!-- jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->

<script src="//www.fuelcdn.com/fuelux/3.13.0/js/fuelux.min.js"></script>
 <link rel="stylesheet" href="//www.fuelcdn.com/fuelux/3.13.0/css/fuelux.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//www.fuelcdn.com/fuelux/3.13.0/js/fuelux.min.js"></script>
</head>
  <body>

<header>

  <div class="container_head">
    <a href="/"><%= image_tag('logo-min.png',class: 'logo')  %></a>



    <ul class="header-right">
  <% if user_signed_in? %>
  <li> <%= link_to 'ダッシュボード', users_path %></li>
     <li> <%= link_to 'サービスを掲載',home_pro_path %></li>
  <li> <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>

    <% else %>
    <li><%= link_to 'プロバイダーになる',  home_pro_path %></li>
    <li> <%= link_to 'アカウント作成', new_user_registration_path %></li>
    <li><%= link_to 'ログイン', new_user_session_path %></li>

    <% end %>

    </ul>
  </div>
</header>



  <div class="main_content">


    <%= yield %>
  </div>

<div class="container">
  <footer class="footer">


  <div class="footer-top">

     <div class="row">

       <div class="col-sm-3 ">

          <h3 class="widget-title">Company</h3>
          <div class="widget-details">
           <nav>
            <ul>
     <li><a href="/company/index">会社概要</a></li>
         <li><a href="/company/philosophy">経営理念</a></li>
       <li><a href="/company/question">よくある質問</a></li>
　

           </ul>
          </nav>

       </div>

    </div>

    <div class="col-sm-3">

       <h3 class="widget-title">Customers</h3>
       <div class="widget-details">
        <div class="title-list">
          <ul>
<li><a href="/home/guide">ご利用ガイド</a></li>
          </ul>
        </div>

    </div>
  </div>

  <div class="col-sm-3">

     <h3 class="widget-title">Provider</h3>
     <div class="widget-details">
      <div class="title-list">
      <ul>
       <li>Sign Up</li>
       <li>プロバイダー</li>
       <li>providerセンター</li>
     </ul>
   </div>

 </div>
 </div>

<div class="col-sm-4">


 <div id="social-icon">
  <a href="https://www.facebook.com/seeklejp/"><i class="fa fa-facebook fa-2x"></i></a>
  <a href="https://twitter.com/Seeklejp"><i class="fa fa-twitter fa-2x"></i></a>
  <a href="https://www.instagram.com/seekle_jp/"><i class="fa fa-instagram fa-2x"></i></a>
  <a href="#"><i class="fa fa-pinterest fa-2x"></i></a>
  </div>
  </div>
    </div>
      </div>


        </div>
          </footer>





<div class="footer-bottom">

  <div class="footer-menu pull-left">
   <div class="widget widget_menu">
    <nav class="widget-menu">
     <ul>
      <li><a href="/home/term">利用規約</a></li>
      <li><a href="/home/policy">プライバシポリシー</a></li>
      <li><a href="/home/signage">特定商取引に基づく表記</a></li>
    </ul>
    </nav>
   </div>
  </div>

</div>






  <div class="copy-right">© Seekle inc., All Rights Reseved.</div>



</body>
</html>






