<!DOCTYPE html>
<html>
<head>
  <title>Seekle</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<header>
  <div class="container_haed">
    <div class="logo"><a><%= link_to "Seekle", root_path %></a></div>
    <ul class="header-right">
      <li><%= link_to "ホーム", root_path %></li>
      <li><%= link_to "プロバイダー", pro_path %></li>
    </ul>
  </div>
</header>


  <div class="container">
    <%= yield %>
  </div>


<div class="footer-bottom">
 <div class="container">
  <div class="footer-menu pull-left">
   <div class="column column_menu">
    <nav class="column-menu">
     <ul>
      <li><%=link_to "利用規約", term_path %></li>
      <li><%= link_to "特定商取引に基づく表記", signage_path %></li>
      <li><%= link_to "プライバシーポリシー", policy_path %></li>
    </ul>
    </nav>
   </div>
  </div>
 </div>
</div>











  <div class="copy-right">© SEEKLE inc., All Rights Reseved.</div>



</body>
</html>
