<!DOCTYPE html><html lang="en">
<head>

<title>Seekle（シークル）｜ 簡単比較で失敗しないサービス選び！</title>  
<meta name=”description” content=”ハウスクリーニングやポートフォリオ撮影、マッサージ、カウンセリングなどの各サービス選びに失敗しない！あなたの必要とするサービスをオンラインで無料予約するならSeekle。サービスを利用したユーザーの口コミ、満足度や具体的なサービス料金で簡単・便利に徹底比較！[最大10万円の安心保証つき]”>
<meta name=”keywords” content=”業者,ポートフォリオ撮影,マッサージ,リフォーム”>
<meta property="og:title" content="Seekle（シークル）｜ 簡単比較で失敗しないサービス選び！">
<meta property="og:description"
     content="ハウスクリーニングやポートフォリオ撮影、マッサージ、カウンセリングなどの各サービス選びに失敗しない！あなたの必要とするサービスをオンラインで無料予約するならSeekle。サービスを利用したユーザーの口コミ、満足度や具体的なサービス料金で簡単・便利に徹底比較！[最大10万円の安心保証つき]">


<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">  <%= csrf_meta_tags %>
<%= favicon_link_tag('favicon.ico') %>
</head>




<!--bodyタグ内のコンテンツの表示はhead内にあるjsの処理が完了してから行われるので、表示が遅くなる   なるべくheadに不要なjs入れない bodyにいれる-->



<body>

<%= stylesheet_link_tag "application", media: "all" %>
<header class="provider-header">
	<div class="header_content">


 <%= link_to image_tag('whitelogo.png',class: 'logo_2'), "/providers/profile" %>


<ul class="header-right-provider"> <% if provider_signed_in? %>  <%= javascript_include_tag "application" %>
 <li> <%= link_to 'サービスを掲載', new_note_path %></li>
 <li> <%= link_to 'ログアウト', destroy_provider_session_path, method: :delete %></li> <% else %> <% end %> </ul>
</div>
</header> <div class="main_content"> <%= yield %> </div>

<div class="footer-bottom">

  <nav class="widget-menu"> 

  <li><a href="/home/term">利用規約</a></li>
   <li><a href="/home/policy">プライバシポリシー</a></li> 
   <li><a href="/home/signage">特定商取引に基づく表記</a></li> 

   </nav>
  </div> <div class="copy-right">© Seekle inc., All Rights Reseved.</div></body>

<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

</html>



